<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

  <meta property="og:image" content="images/preview_all.jpg">
  <meta property="vk:image" content="images/preview_vk.jpg">
  <meta property="og:title" content="Онлайн-чемпионат по метанию ножей и топоров">
  <meta property="og:description" content="С 20 мая по 2 июня пройдёт второй этап Метательных практик на новой платформе">
  <meta property="og:type" content="website">

  <title>Метательные практики</title>

  <link rel="shortcut icon" href="images/favicon_b.png" type="image/x-icon">
  <link rel="prefetch prerender" href="images/fb_w.svg" />
  <link rel="prefetch prerender" href="images/fb_y.svg" />
  <link rel="prefetch prerender" href="images/fb_yw.svg" />
  <link rel="prefetch prerender" href="images/vk_w.svg" />
  <link rel="prefetch prerender" href="images/vk_y.svg" />
  <link rel="prefetch prerender" href="images/vk_yw.svg" />  
  <link rel="prefetch prerender" href="images/inst_w.svg" />
  <link rel="prefetch prerender" href="images/inst_y.svg" />
  <link rel="prefetch prerender" href="images/inst_yw.svg" />
  <link rel="prefetch prerender" href="images/i_link_w.svg"/>
  
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/admtables.css">
  <link rel="stylesheet" href="stylesheets/fonts.css">
  <script src="javascripts/script_form_results.js"></script>

</head>

<body>
  <div class = "main">
    <div class = "hat">
    <div class = "content">
      <div class = "logo">Метательные практики</div>
      <div class = "lead_text">Соревнуйтесь с&nbsp;чемпионами из&nbsp;любой точки мира</div>
      
      <div class = "text">
        <p class = "content_text">Участвуйте на&nbsp;домашних площадках&nbsp;— записывайте 
свой&nbsp;результат на&nbsp;камеру. Метайте с&nbsp;коротких расстояний в&nbsp;3,&nbsp;4 и&nbsp;5&nbsp;м&nbsp;— подойдёт и&nbsp;гараж. 
Отслеживайте прогресс&nbsp;— определим призёров<br/>среди новичков, любителей и&nbsp;профессионалов.<br/>Бесплатно.</p>
</div>
      <div class="social_buttons">
        <div class="button">
          <a class="crop_social crop_social_fb" href="https://www.facebook.com/groups/2112192229109121/permalink/2246143712380638/?__xts__[0]=68.ARB09JUa8pxL2gji6p_UunOCAMvB5M6kv3VLJM2PeDP20P7Qjll2Qgm-fDEORGJs6LFhuvdurzPVISTOhEHuh6bWIWWn6dJyCFsFHlWkcikWFUAGUwGdIQ1E5CRIgTeL13G5d4LL92YRdx7YBNXas0y8YOcXpUaXO78dR5JE2DW_VRtTMWbXbAwaNgXZazHNld2qrGINHz__94hdyRCVUmbxKgFLXRq2ownYOQCk4Ydj3drD1pYxDgQKmLkCSORVWeepaIe0N55DkpJeHH1TuUCovmRfmqYQUMFhv4iuq5iChSo85_Eru2l4S8EPNWn9Do4fYsz1ulV_QUo4ZAqFUsIdK9ndHbzV3l0-jpKe4HLm9nVNLuhcQvqAzo2yX0r60097h3x6FzHdUnInK_PmZ49kQSKbnz8XGRoFerhyYAeZnHwOrqVQXjkamvjD6u-Tbo2K87XqJRXD7iVEZCmVa0Q0wRfVu81EN2lx-e3N1A&__tn__=kCH-R">
          </a></div>
        <div class="button">
          <a class="crop_social crop_social_vk" href="https://vk.com/angry_bee">
          </a></div>
        <div class="button">
          <a class="crop_social crop_social_inst" href="http://instagram.com/angrybeeknife/">
        </a></div>
      </div>
    </div>
      
      <div class="title">
   <!--     <img src="images/big_head.svg" alt="Онлайн турнир метателей топоров и ножей">
   -->
      </div>

    <div class="div-form">
<!--       <picture>
        <source media="(max-width: 576px)" srcset="img.svg">
        <source media="(min-width: 577px)" srcset="images/dates.svg"> -->
        <img class="img_dates" src="images/dates_helv.svg" alt="Второй этап с 20 мая по 2 июня">
<!--       </picture> -->

<!--      <img srcset="images/dates_m.svg 375w,
                   images/dates.svg 270w" 
            sizes="(max-width: 576px) 375w, (max-width: 2000px) 270px"
      src="images/dates.svg" alt="Второй этап с 20 мая по 2 июня">  -->




    <div class="form-container">
        <form class="form-mail" id="email_form" name="email_form" action="/" method="POST">
            <!-- <form class="form-mail" id="email_form" name="email_form" action="https://formspree.io/noreply-knifethrowing@yandex.ru" method="POST">  -->
    
          <p class="form-caption">Подпишитесь, <br/>чтобы узнать победителей</p>
            <div class="email_box">
              <input class="input_mail" type="text"  
                     id="input_mail" name="email" placeholder="mail@example.com" 
                     pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" 
                     autocapitalize="off" spellcheck="false"/>
              
              <button class="btn_send" id="send" type="submit"> 
              <!-- <img class="img_arrrow" src="images/button_send.svg" alt="Подписаться"
                                      onmouseover="this.src='images/button_send_y.svg';" 
                                      onmouseout="this.src='images/button_send.svg';"> -->
              </button>
              <script src="javascripts/scripts_send.js"></script>
          </div>
          </form>
    </div>    

    </div>

    <div class="school_label">
      <p class="school_label_text"><a href="https://bureau.ru/school/27aug2018/" class="school_link">Сделано в Школе Бюро Горбунова</a> в 2019 году</p>
    </div>
  </div>

  
  <div class = "floor_wrapper first_floor_wrapper">
    <div class = "floor_text first_floor_text">
        <h2>Запишите броски на&nbsp;видео</h2>
        <p class = "mainpage_text">В&nbsp;турнире четыре дисциплины: 
          топор с&nbsp;расстояния 4&nbsp;м, ножи — с&nbsp;3,&nbsp;4 и&nbsp;5&nbsp;м. 
Снимите броски на&nbsp;видео: по&nbsp;одному 
на&nbsp;каждую дисциплину, в&nbsp;которой участвуете. Запись должна быть одним дублем без&nbsp;монтажа. Если вы&nbsp;метаете на&nbsp;площадке клуба, клуб запишет единое видео для&nbsp;всех участников.</p>
        
        <div class = "link_box">
          <p class="mainpage_text">
            <a class="mainpage_text crop-sprite" href="#">
            Правила участия</a>
          </p>
          
        </div>

    </div>
    <div class = "floor_img">
      <img class="first_floor_img" src="images/i.svg">
    </div>
  </div>


  <div class="floor_wrapper second_floor_wrapper">
    <div class = "floor_img second_floor_img">&nbsp;
    </div>
    <div class="floor_text second_floor_text">
      <h2>Отправьте <br/>результаты</h2>
      <p class = "mainpage_text">За&nbsp;каждый бросок начисляется столько баллов, сколько указано на&nbsp;мишени, <br/>куда попал топор или&nbsp;нож. Результаты принимаем с&nbsp;00:00 20&nbsp;мая до&nbsp;23:59 2&nbsp;июня по&nbsp;Москве.</p>
    </div>
  </div>
  
  <div class="floor_wrapper third_floor_wrapper">
    <div class= "form_wrapper">
        <h2>Результаты бросков</h2>
        <form id="idFormResults" name="nameFormResults" action="/" method="POST" class="form_results">
          
          
    <div class="wrap_input_text_1_string">
      <label class = "left_label_text">
        <div class="bblock-1">Имя</div>
        <div class="bblock-2"><input class="form_results_textinput form_results_border_neutral" type="text" id="textFirstName" name="nameFirstName" autocomplete="off" onblur="validateName(this)"/></div>
      </label>
    </div>

    <div class="wrap_input_text_1_string">
      <label class = "left_label_text">
        <div class="bblock-1">Фамилия </div>
        <div class="bblock-2"><input class="form_results_textinput form_results_border_neutral" type="text" id="textLastName" name="nameLastName" onblur="validateName(this)" autocomplete="off"/></div>
      </label>
    </div>

    <div class="wrap_input_text_2_string">
      <div class="bblock-1 left_label_text">Пол</div> 
      <div class="bblock-2"> 
        <div class="genderfield">
  <span id="toggle_male" name="nameToggleMale" class="inactivestyle genderfield activestyle" data-component="Tab" onclick=swapStyle_1()>мужской</span><span id="toggle_female" 
  name="nameToggleFemale" class="inactivestyle genderfield" data-component="Tab" onclick=swapStyle_2()>женский</span></div>
          <!-- <div><label ><input type="radio" id="checkMale" name="nameGender" value="Male">Мужской </label></div>
          <div><label ><input type="radio" id="checkFemale" name="nameGender" value="Female">Женский </label></div> -->
      </div>
    </div>

    <div class="wrap_input_text_1_string">
      <label class = "left_label_text">
        <div class="bblock-1">Клуб </div>
        <div class="bblock-2"><input class="form_results_textinput form_results_border_neutral" type="text" id="textClub" list="club_list" name="nameClub" placeholder="" autocomplete="off"/></div>
      </label>
    </div>

    <div class="wrap_input_text_1_string">
      <label class = "left_label_text">
        <div class="bblock-1">Страна </div>
        <div class="bblock-2"><input class="form_results_textinput form_results_border_neutral" type="text" id="textCountry" list="countries_list" name="nameCountry" onblur="validateName(this)" placeholder="" autocomplete="off"/></div>
      </label>
    </div>

    <div class="wrap_input_text_1_string">
      <label class = "left_label_text">
        <div class="bblock-1">Эл.&nbsp;почта </div>
        <div class="bblock-2"><input class="form_results_textinput form_results_border_neutral" type="text" id="textEmail" name="nameEmailResults" onblur="validateMail(this)" placeholder="" autocomplete="off"/></div>
      </label>
    </div>
    
    <div class="captions_in_form">
        <h3>Броски</h3>
        <p>Впишите результаты по&nbsp;тем дисцисциплинам, в&nbsp;которых вы&nbsp;участвовали. Сумма баллов рассчитывается автоматически.</p>
      </div>

    <div class="container-discipline">
      <label class = "left_label_text">
        <div class="bblock-1">Топоры, 4 м</div></label>
        <div class="block-discipline-digits" id="axe_4m">
            <script language="JavaScript" type="text/javascript">
                result_fields_generate('axe_4m');
            </script>
        </div>
    </div>

    <div class="container-discipline">
      <label class = "left_label_text">
        <div class="bblock-1-caption">Ножи </div></label>
    </div>

    <div class="container-discipline">
      <label class = "left_label_text">
        <div class="bblock-1">3 м</div></label>
        <div class="block-discipline-digits" id="knife_3m">
            <script language="JavaScript" type="text/javascript">
                result_fields_generate('knife_3m');
            </script>
        </div>
    </div>

    <div class="container-discipline">
      <label class = "left_label_text">
        <div class="bblock-1">4 м</div></label>
        <div class="block-discipline-digits" id="knife_4m">
            <script language="JavaScript" type="text/javascript">
                result_fields_generate('knife_4m');
            </script>
        </div>
    </div>

    <div class="container-discipline">
      <label class = "left_label_text">
        <div class="bblock-1">5 м</div></label>
        <div class="block-discipline-digits" id="knife_5m">
            <script language="JavaScript" type="text/javascript">
                result_fields_generate('knife_5m');
            </script>
        </div>
    </div>

    <div class="container-discipline">
        <div class="bblock-1">&nbsp;</div>
        <div class="block-discipline-digits">
          <div class="block-discipline-allsum">
            <input type="text" class="form_results_digitsinput form_results_digitsinput_sum block-discipline-axe-sum" id="text_knife_ALL_SUM" name="name_knife_ALL_SUM" placeholder="0" autocomplete="off" disabled="">
          </div>
        </div>
    </div>


    <div class="captions_in_form cpations_in_form_minus_margin">
      <h3>Видео</h3>
      <p>Вставьте ссылку на&nbsp;видеозапись бросков. Видео можно загрузить на&nbsp;любой сервис, например, на&nbsp;<a href="https://disk.yandex.ru/client/disk">Яндекс.Диск</a>, <a href="https://drive.google.com">Гугл Диск</a> или <a href="https://www.youtube.com/">Ютуб</a>.</p>
    </div>

    <div class="container-discipline">
      <label class = "left_label_text">
        <div class="bblock-1">Ссылки </div>
        <div class="bblock-links"><input class="form_results_linkinput form_results_border_neutral" type="url" id="textLink_1" name="nameLink_1" onblur="validateLinks()" autocomplete="off" autocorrect="off" autocapitalize="off"/></div>
      </label>
    </div>

    <div class="container-discipline">
      <label class = "left_label_text">
        <div class="bblock-1">&nbsp;</div>
        <div class="bblock-links"><input class="form_results_linkinput form_results_border_neutral" type="url" id="textLink_2" name="nameLink_2" onblur="validateLinks()" autocomplete="off" autocorrect="off" autocapitalize="off"/></div>
      </label>
    </div>
    <div class="container-discipline">
      <label class = "left_label_text">
        <div class="bblock-1">&nbsp;</div>
        <div class="bblock-links"><input class="form_results_linkinput form_results_border_neutral" type="url" id="textLink_3" name="nameLink_3" onblur="validateLinks()" autocomplete="off" autocorrect="off" autocapitalize="off"/></div>
      </label>
    </div>

    <div class="wrap_input_text_1_string">
      <label class = "left_label_text">
        <div class="bblock-1">&nbsp;</div>
        <div class="bblock-links"><input class="form_results_linkinput form_results_border_neutral" type="url" id="textLink_4" name="nameLink_4" onblur="validateLinks()" autocomplete="off" autocorrect="off" autocapitalize="off"/></div>
      </label>
    </div>


    <div class="submit_btn_floor">
      <div>
        <button type="submit" class="form_results_button"  id="btnSubmitResults" name="btnSubmit"/>Участвовать</button>
      </div>
        <div class="hidden_text_correct" id="checkFormTextCorrect">
          <p>Ваши результаты отправлены.</p>
          <p class="fill_new_sportsman_link" onclick="show_submit_button()">Заполнить ещё для одного спортсмена</p>
        </div>
        <div class="hidden_text_wrong" id="checkFormTextWrong"><p>Проверьте неправильные <br/>или незаполненные поля</p></div>
    </div>
<!-- disabled="disabled" -->
    <div class="captions_in_form">
      <p>Отправляя результаты вы подтверждаете, что ознакомлены 
и&nbsp;согласны <a href="#">с условиями участия</a>.</p>
    </div>

      <datalist id="countries_list">
        <option>Австрия</option>
        <option>Австралия</option>
        <option>Республика Беларусь</option>
        <option>Болгария</option>
        <option>Россия</option>
        <option>Украина</option>
        <option>Чехия</option>
      </datalist>


      <datalist id="club_list">
        <option>45</option>
        <option>78 Легион</option>
        <option>ARMA</option>
        <option>Freeknife</option>
        <option>Knife thrower</option>
        <option>No spin</option>
        <option>OSA</option>
        <option>WASP</option>
        <option>Акела</option>
        <option>Алтын-Нур</option>
        <option>Балтийская ассоциация метателей</option>
        <option>Беркут</option>
        <option>Волк</option>
        <option>Вольные клинки</option>
        <option>Гюрза</option>
        <option>Джокер</option>
        <option>Дружина</option>
        <option>Железный век</option>
        <option>Живой клинок</option>
        <option>Злая Пчела</option>
        <option>К.Л.И.М.</option>
        <option>Кипчак</option>
        <option>Клинок</option>
        <option>Лезо вiтру</option>
        <option>Лукоборье</option>
        <option>Мангуст</option>
        <option>Метатель</option>
        <option>МОСФМН</option>
        <option>Пересвет</option>
        <option>Радогост</option>
        <option>Сарган</option>
        <option>Сарнож</option>
        <option>Сварог</option>
        <option>Северный клинок</option>
        <option>Серебряный нож</option>
        <option>СКИФ</option>
        <option>Сова</option>
        <option>Сталкер</option>
        <option>Стальной лепесток</option>
        <option>Стриж</option>
        <option>Таргет</option>
        <option>Твердая рука</option>
        <option>ФБСМН СПб ДОСААФ РФ</option>
        <option>Феникс</option>
        <option>Форт-Нож</option>
        <option>Цель</option>
        <option>Шалены Зубар</option>
        <option>Шаман</option>
        <option>Школа Виталия Кима</option>
        <option>Школа Дмитрия Мельникова</option>
        <option>Школа Наиля Ахмаду</option>
      </datalist>
    </form>

    </div> <!-- form_and_text_wrapper </div> -->
  </div>  <!-- floor_wrapper </div>  -->

<script src="javascripts/script_form_listener.js"></script>

  <div class="floor_wrapper four_floor_wrapper">
    <div class = "floor_img first_floor_img">&nbsp;</div>
    <div class="floor_text first_floor_text">
      <h2>Дождитесь<br/>объявления<br/>победителей</h2>
      <p class = "mainpage_text">Через неделю после этапа мы&nbsp;определим победителей среди мужчин и&nbsp;женщин. В&nbsp;ножах призёры распределятся отдельно по&nbsp;дистанциям в&nbsp;3,&nbsp;4&nbsp;и&nbsp;5&nbsp;м и&nbsp;лигам среди профессионалов, любителей и&nbsp;новичков. В&nbsp;конце года выиграют те, кто наберёт больше всего баллов по&nbsp;итогам трёх самых <br/>результативных этапов. </p>
      <!-- <div class = "link_box">
          <p class="mainpage_text">
            <a href="#">Результаты прошлых этапов</a>
          </p>
      </div>-->
    </div> 

    <div class = "floor_img">
      <img class="four_floor_img" src="images/iii_2.svg">
    </div>
  </div>


<footer>
  <div class="footer_container">
    <div class="footer_contacts_2">
      <div class="">
          +7 985 368-83-85<br/><a class="small_text_link" href="mailto:knifethrowing@yandex.ru">knifethrowing@yandex.ru</a>
      </div>
      <div><br/><a class="small_text_link" href="https://bureau.ru/school/27aug2018/">Сделано в Школе Бюро Горбунова</a> в 2019 году</div>
      
    </div>
  </div>
  </footer>

  </div>  <!-- main div -->
</body>
</html>