<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

  <meta property="og:image" content="/images/preview_all.jpg">
  <meta property="vk:image" content="/images/preview_vk.jpg">
  <meta property="og:title" content="Онлайн-чемпионат по метанию ножей и топоров">
  <meta property="og:description" content="С 20 мая по 2 июня пройдёт второй этап Метательных практик на новой платформе">
  <meta property="og:type" content="website">

  <title>{{title}}</title>

  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/rules_adaptive.css">
  <link rel="stylesheet" href="/stylesheets/rules_fixed.css">

</head>
<script>
  let currentIndex = 1;

  window.onresize = function() {
    const imagesEl = document.querySelector('.carousel__images');
    const viewPortWidth = window.innerWidth;

    if (viewPortWidth < 1200) {
      imagesEl.style = `left: ${73 - 73 * currentIndex}vw;`;
    } else {
      imagesEl.style = `left: ${730 - 730 * currentIndex}px;`;
    }
  };

  function setMainImage(index) {
    const imagesEl = document.querySelector('.carousel__images');
    const viewPortWidth = window.innerWidth;

    currentIndex = index;

    if (viewPortWidth < 1200) {
      imagesEl.style = `left: ${73 - 73 * index}vw;`;
    } else {
      imagesEl.style = `left: ${730 - 730 * index}px;`;
    }

    const oldActiveEl = document.querySelector('.carousel__menu-button_active');
    oldActiveEl.classList.remove('carousel__menu-button_active');

    const newActiveEl = document.querySelector(`.carousel__menu-button:nth-child(${index})`);
    newActiveEl.classList.add('carousel__menu-button_active');
  }
</script>

<body>
    {{{body}}}
</body>
</html>