<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="mailru-verification" content="db87ac7a0088039f" />

    <meta property="og:image" content="images/preview_all.jpg">
    <meta property="vk:image" content="images/preview_vk.jpg">
    <meta property="og:title" content="Онлайн-турнир по метанию ножей и топоров">
    <meta property="og:description" content="Результаты второго этапа">
    <meta property="og:type" content="website">
{{!-- С 20 мая по 2 июня пройдёт второй этап Метательных практик на новой платформе --}}

    <title>Метательные практики</title>

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    
    <link rel="preload" href="/fonts/Montserrat-Black.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-ExtraBold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-Medium.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-SemiBold.woff" as="font" type="font/woff" crossorigin>

    <link rel="preload" href="/fonts/HelveticaNeueCyr-Roman.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Thin.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Medium.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Heavy.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Black.woff" as="font" type="font/woff" crossorigin>

    {{!-- <link rel="preload" href="/javascripts/script_form_results.js" as="script"> --}}


    <link rel="stylesheet" href="stylesheets/css_reset.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/styles_wide.css">
    <link rel="stylesheet" href="stylesheets/admtables.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">

    <link rel="stylesheet" href="stylesheets/results.css">
    
    <script type="text/javascript" src="/javascripts/script_form_results.js"></script>
    <script type="text/javascript" src="/javascripts/script_page_results.js"></script>

  </head>

  <body>
    {{{body}}}
  </body>
</html>
