<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <meta property="og:image" content="images/preview_all.jpg">
    <meta property="vk:image" content="images/preview_vk.jpg">
    <meta property="og:title" content="Онлайн-чемпионат по метанию ножей и топоров">
    <meta property="og:description" content="10 июня объявим победителей второго этапа">
    <meta property="og:type" content="website">

    <title>Метательные практики</title>

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    
    <link rel="stylesheet" href="stylesheets/css_reset.css">
    {{!-- <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/styles_wide.css"> --}}
    <link rel="stylesheet" href="stylesheets/style_waitresults.css">
    <link rel="stylesheet" href="stylesheets/styles_waitresults_wide.css">
    <link rel="stylesheet" href="stylesheets/admtables.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <script src="javascripts/script_form_results.js"></script>

  </head>

  <body>
    {{{body}}}
  </body>
</html>
