<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">

    <meta property="og:image" content="images/preview_all.jpg">
    <meta property="vk:image" content="images/preview_vk.jpg">
    <meta property="og:title" content="Онлайн-турнир по метанию ножей и топоров">
    <meta property="og:description" content="10 июня объявим победителей второго этапа">
    <meta property="og:type" content="website">

    <title>Метательные практики</title>

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    
    <link rel="preload" href="/fonts/Montserrat-Black.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-ExtraBold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-Medium.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-SemiBold.woff" as="font" type="font/woff" crossorigin>

    <link rel="preload" href="/fonts/HelveticaNeueCyr-Roman.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Thin.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Medium.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Heavy.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/HelveticaNeueCyr-Black.woff" as="font" type="font/woff" crossorigin>


    <link rel="stylesheet" href="stylesheets/css_reset.css">

    <link rel="stylesheet" href="stylesheets/parallax_styles_wait_res.css">
    <link rel="stylesheet" href="stylesheets/parallax_styles_wait_res_wide.css">

    <link rel="stylesheet" href="stylesheets/fonts.css">


  </head>

  <body>
    {{{body}}}
  </body>
</html>
