
  <div class="browser black_floor_browser">
    <div class = "main">
      
      <div class = "black_floor">
        <div class = "logo"><a class="main-title_link" href="/"> Метательные практики </a></div>
        <div>
          <h1 class = "rules_head">Как участвовать</h1>
          <h1 class = "rules_head_mobile">Как<br> учасТ<span>−</span><br> вовать</h1>
        </div>
        
        <div class="text_block info_block_margin_bottom">
          <p class = "lead_rules_text">Турнир проходит дистанционно: участники метают ножи и&nbsp;топоры в&nbsp;любом месте и&nbsp;записывают броски на&nbsp;видео. Участвуйте в&nbsp;одной или&nbsp;нескольких дисциплинах на&nbsp;выбор: метайте топоры с&nbsp;расстояния 4&nbsp;метров и&nbsp;ножи с&nbsp;3,&nbsp;4 или 5&nbsp;метров. Мы&nbsp;приглашаем спортсменов любого пола и&nbsp;возраста. За&nbsp;год мы&nbsp;проводим четыре этапа. Каждый из&nbsp;них&nbsp;— полноценное соревнование со&nbsp;своими призёрами. Те,&nbsp;кто покажут лучшие результаты в&nbsp;этапах, станут победителями по&nbsp;итогам&nbsp;года.</p>
        </div>
      </div>
 </div>     
</div>

<div class="browser white_floor_browser">
    <div class = "main">
      <div class="white_floor">
        <div>
          <h2>Как <span>подготовиться</span></h2>
        </div>
        

        <div class="text_block ">
          <p class = "main_rules_text">Вам понадобятся один топор и&nbsp;три ножа. Ножи должны быть сертифицированы как хозяйственно-бытовые и&nbsp;быть безопасными: нескладная конструкция без щербин и&nbsp;неровностей, способных повредить руку при броске; толщина режущей кромки больше 1&nbsp;мм. </p>

          <div class="target__aside">
          <img src="images/target.svg" class="target-image" alt="Мишень">
          <a href="images/target_A4.pdf" class="target-link" target="_blank" download>
            Скачать мишень
          </a>
        </div>

          <p class = "main_rules_text">Приготовьте мишени с&nbsp;запасом от&nbsp;10&nbsp;копий. 
          Распечайте их&nbsp;на&nbsp;офисной бумаге и&nbsp;обычном принтере. Закрепите мишени с&nbsp;помощью кнопок и&nbsp;замерьте расстояние до&nbsp;них рулеткой, мелом или&nbsp;бумажным скотчем. Для записи результатов вам&nbsp;пригодится бумага и&nbsp;ручка. Чтобы&nbsp;не&nbsp;прерывать съёмку заранее зарядите видеокамеру и&nbsp;освободите карту памяти.</p>
        </div>

        <div class="carousel info_block_margin_bottom">
          <div class="carousel__main-image">
            <div class="carousel__images">
              <img src="images/knife_1.png" class="carousel__image">
              <img src="images/knife_2.png" class="carousel__image">
              <img src="images/knife_3.png" class="carousel__image">
              <img src="images/knife_4.png" class="carousel__image">
              <img src="images/knife_5.png" class="carousel__image">
            </div>
          </div>
          <div class="carousel__menu">
            <button class="carousel__menu-button carousel__menu-button_active" onclick="setMainImage(1)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(2)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(3)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(4)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(5)"></button>
          </div>
          <p class="carousel__caption">
            Примеры ножей и&nbsp;топоров, которые подходят для&nbsp;участия в&nbsp;турнире
          </p>
        </div>
      </div>
</div>
</div>

<div class="browser black_floor_browser">
    <div class = "main">
      <div class="black_floor">
        <div>
          <h2>Как метать, 
            <span>повесить мишени </span> 
            <span>и снять видео</span></h2>
        </div>
        <div class="text_block">
          <p class="main_rules_text">Отметьте на&nbsp;полу линии на&nbsp;расстоянии 3, 4 и 5&nbsp;метров от&nbsp;стенда. Не&nbsp;заступайте за&nbsp;них при&nbsp;броске. Мишень для&nbsp;топора повесьте любым способом, 
          а&nbsp;для ножей&nbsp;— так, чтобы &nbsp;каждой горизонтальной и&nbsp;вертикальной линии было до&nbsp;двух мишеней.</p>
        </div>


          <div class="page-section-image_double div_flex_option">
            <div class="first_image ">
              <p class="page-section-image__caption"><b>Неправильно</b></p>
              <p class="page-section-image__caption_mobile"><b>Неправильно</b></p>
              <img  src="images/wrong_placing.svg">
              <p class="page-section-image__caption">
                  На&nbsp;горизонтальных&nbsp;и&nbsp;вертикальных&nbsp;
                  <span>линиях по&nbsp;три&nbsp;мишени</span>
              </p>
              <p class="page-section-image__caption_mobile page-section-image__caption_mobile_margin">
                  На&nbsp;горизонтальных и&nbsp;вертикальных 
                  линиях по&nbsp;три&nbsp;мишени
              </p>
            </div>

            <div class="second_image">
              <p class="page-section-image__caption"><b>Правильно</b></p>
              <p class="page-section-image__caption_mobile"><b>Правильно</b></p>
              <img  src="images/right_placing.svg">
              <p class="page-section-image__caption">
                  На&nbsp;горизонтальных и&nbsp;вертикальных 
                  <span>линиях по&nbsp;две мишени</span>
              </p>

              <p class="page-section-image__caption_mobile page-section-image__caption_mobile_margin">
                  На&nbsp;горизонтальных и&nbsp;вертикальных&nbsp;линиях по&nbsp;две мишени
              </p>

            </div>
          </div>



          <!-- <img class = "img_misheni" src="images/misheni_tmp.png" alt=""> -->

        <div class="text_block info_block_margin_bottom">  
          <p class="main_rules_text">Включите видеозапись и&nbsp;метайте в&nbsp;любой технике. На&nbsp;каждую&nbsp;дисциплину у&nbsp;вас есть по&nbsp;две пробные и&nbsp;десять зачётных серий. Пробные серии не&nbsp;учитываются при&nbsp;подсчёте результатов. Серия для&nbsp;топоров включает один бросок, на&nbsp;который вам отводится 30&nbsp;секунд. Серия для&nbsp;ножей состоит из&nbsp;трёх бросков, на&nbsp;неё у&nbsp;вас одна&nbsp;минута.</p>
          <p class="main_rules_text">Снимите по&nbsp;одному видео на&nbsp;каждую дисциплину, в&nbsp;которой участвуете. Сделайте запись единым дублем без&nbsp;монтажа. После&nbsp;серии бросков поднесите камеру 
          к&nbsp;мишеням, чтобы в&nbsp;кадре&nbsp;было отчётливо видно, в&nbsp;какую зону попал топор или&nbsp;ножи. Если вы&nbsp;метаете на&nbsp;площадке клуба, клуб запишет единое видео на&nbsp;всех участников.</p>

        </div>
      </div>
    </div>
  </div>

<div class="browser white_floor_browser">
    <div class = "main">
      <div class="white_floor">
        <div>
          <h2>Как оценить 
            <span>свои результаты</span> </h2>
        </div>
        <div class="text_block info_block_margin_bottom">
          <p class="main_rules_text">За&nbsp;бросок начисляется столько баллов, сколько указано на&nbsp;мишени, куда попал топор или&nbsp;нож. Если топор или&nbsp;нож попал на&nbsp;границу зачётных зон или&nbsp;перекрывает несколько из&nbsp;них, ориентируйтесь на&nbsp;зону с&nbsp;наибольшим баллом. Если топор или&nbsp;нож упал на&nbsp;пол до&nbsp;окончания серии, воткнулся в&nbsp;мишень не&nbsp;режущей кромкой или&nbsp;остриём, то&nbsp;при подсчёте он&nbsp;не&nbsp;учитывается. </p>

          <p class="main_rules_text">Заступив за&nbsp;линию броска, вы&nbsp;теряете баллы за&nbsp;самый результативный бросок серии либо 20&nbsp;баллов от&nbsp;общего результата,&nbsp;если не&nbsp;попадёте ни&nbsp;в&nbsp;одну мишень в&nbsp;серии. </p>
          <p class="main_rules_text">Если вы&nbsp;участвуете на площадке клуба, клуб назначает судей, которые следят за&nbsp;соревнованием и&nbsp;фиксируют баллы. Судьи могут снять дополнительные баллы за&nbsp;несоблюдение правил площадки.</p>
        </div>
      </div>
    </div>
  </div>

<div class="browser black_floor_browser">
  <div class = "main">
    <div class="black_floor">
      <div>
        <h2>Как отправить 
          <span>результаты</span> </h2>
      </div>
      <div class="text_block info_block_margin_bottom">
        <p class="main_rules_text">Отправьте результаты с&nbsp;00:00 20&nbsp;мая до&nbsp;23:59 
          2&nbsp;июня по&nbsp;Москве. Заполните личные данные, введите результаты бросков 
          и&nbsp;добавьте&nbsp;ссылку на&nbsp;видео. Видео можно загрузить на&nbsp;любой 
          сервис, например, 
          <a href="https://disk.yandex.ru/client/disk" target="_blank">Яндекс.Диск</a>, 
          <a href="https://drive.google.com" target="_blank">Гугл&nbsp;Диск</a> 
          или&nbsp;<a href="https://www.youtube.com/" target="_blank">Ютуб</a>.
          {{!-- Яндекс.Диск, Гугл Диск или&nbsp;Ютуб. --}}
          </p>

        <img class="img_dates" src="images/dates_rules.svg" alt="Второй этап с 20 мая по 2 июня">

        <div>
          <a class="button_link" href="/" target="_blank">
            <button class="page-cta-block__button">Участвовать в&nbsp;турнире</button>
          </a>
          <!-- <img src="images/dates_rules_i.svg" class="page-cta-block__dates"> -->
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="browser white_floor_browser">
  <div class = "main">
    <div class="white_floor">
      <div>
        <h2>Как узнать 
          <span>победителей</span> </h2>
      </div>
      <div class="text_block info_block_margin_bottom">
        <p class="main_rules_text text_block_no-margin">10&nbsp;июня мы&nbsp;определим победителей по&nbsp;числу баллов среди мужчин&nbsp;и&nbsp;женщин. В&nbsp;ножах призёры распределятся отдельно по&nbsp;дистанциям в&nbsp;3,&nbsp;4 и&nbsp;5&nbsp;метров и&nbsp;лигам среди новичков, любителей&nbsp;и&nbsp;профессионалов. Лиги формируются по&nbsp;сумме баллов&nbsp;за&nbsp;все ножевые дистанции:</p>
          <ul class="page-section__list">
          <li class="page-section__list-item">Лига чемпионов&nbsp;— от&nbsp;1200 баллов,</li>
          <li class="page-section__list-item">Общая лига&nbsp;— от&nbsp;900 до&nbsp;1200 баллов,</li>
          <li class="page-section__list-item">Первая лига&nbsp;— до&nbsp;900 баллов.</li>
        </ul>

        <p class="main_rules_text">В&nbsp;конце года выиграют те,&nbsp;кто наберёт больше всего баллов по&nbsp;итогам трёх самых результативных этапов. </p>
      </div>
    </div>
  </div>
</div>

<div class="browser black_floor_browser">
  <div class = "main">
    <div class="black_floor">
      <div>
        <h2>Как узнать 
          <span>победителей</span> 
          <span>среди клубов</span></h2>
      </div>
      <div class="text_block info_block_margin_bottom">
        <p class="main_rules_text">Клубы соревнуются между собой по&nbsp;числу своих членов, 
          которые&nbsp;заняли призовые места. В&nbsp;каждом этапе призёры турнира&nbsp;приносят 
          баллы своим клубам в&nbsp;зависимости от&nbsp;занятого&nbsp;места, 
          дисциплины и&nbsp;лиги: </p>

        <div class="page-section__table">
        <div class="page-section__table-row page-section__table-row_first">
          <div class="page-section__table-cell page-section__table-cell_first-col"></div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            1&nbsp;место
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            2&nbsp;место
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            3&nbsp;место
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_second">
          <div class="page-section__table-cell page-section__table-row_first-cell page-section__table-cell_first-col">
            <b>Топоры</b>
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">9</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">8</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">7</span> <span class="table-small">баллов</span>
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_third">
          <div class="page-section__table-cell page-section__table-cell_first-col">
            <b>Ножи</b> <span class ="inline">Лига чемпионов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">7</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">6</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">5</span> <span class="table-small">баллов</span>
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_fourth">
          <div class="page-section__table-cell page-section__table-cell_first-col page-section__table-cell_first-col_padding">
            Общая <span class ="block">лига</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">5</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">4</span> <span class="table-small">балла</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">3</span> <span class="table-small">балла</span>
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_fifth">
          <div class="page-section__table-cell page-section__table-cell_first-col page-section__table-cell_first-col_padding">
            Первая <span class ="block">лига</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">3</span> <span class="table-small">балла</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">2</span> <span class="table-small">балла</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">1</span> <span class="table-small">балл</span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="browser white_floor_browser">
  <div class = "main">
    <div class="white_floor">
      <div>
        <h2>Техника 
          <span>безопасности</span> </h2>
      </div>
      <div class="text_block ">
        <p class="main_rules_text text_block_no-margin">Метайте, если между вами и&nbsp;стендом нет людей и&nbsp;животных. Запрещено имитировать удары или&nbsp;броски в&nbsp;сторону от&nbsp;стенда и&nbsp;фехтовать ножами 
        и&nbsp;топорами. </p>

        <p class="main_rules_text">Если у&nbsp;стенда несколько метателей, собирайте топоры и&nbsp;ножи после бросков и&nbsp;фиксируйте результаты только после того, как&nbsp;все&nbsp;закончат метать. Доводите и&nbsp;точите топоры и&nbsp;ножи также&nbsp;вне&nbsp;зоны метания. </p>

        <p class="main_rules_text">Не&nbsp;ловите, не&nbsp;отбивайте и&nbsp;не&nbsp;пытайтесь остановить срикошетивший&nbsp;топор или&nbsp;нож. После участия уберите топоры&nbsp;и&nbsp;ножи из&nbsp;открытого доступа.</p>
      </div>

      <div>
        <h2>Обработка  
          <span>персональных</span>
          <span>данных</span> </h2>
      </div>
      <div class="text_block">
        <p class="main_rules_text text_block_no-margin">Отправляя результаты бросков, вы&nbsp;предоставляете «‎Метательным практикам» и&nbsp;первичному отделению ДОСААФ «Клубу метания ножей „Злая Пчела“» свои персональные данные: фамилию, имя,&nbsp;пол, страну, клуб, электронную почту и&nbsp;видеозапись с&nbsp;вашим&nbsp;участием. </p>
        <p class="main_rules_text text_block_no-margin">Вы&nbsp;даёте согласие на&nbsp;автоматизированную, неавтоматизированную и&nbsp;смешанную обработку персональных данных. Обработка данных включает сбор, систематизацию, накопление, хранение, уточнение, использование, обезличивание, блокирование и&nbsp;уничтожение персональных данных и&nbsp;иной информации, которую вы&nbsp;или&nbsp;ваш представитель сообщили для&nbsp;участия в&nbsp;онлайн-турнире метателей топоров и&nbsp;ножей и&nbsp;для&nbsp;получения рассылки. </p>
        <p class="main_rules_text text_block_no-margin">Согласие действует бессрочно. Если вы&nbsp;захотите его&nbsp;отозвать, направьте нам&nbsp;письменное заявление.</p>
        <p class="main_rules_text text_block_no-margin">Вы&nbsp;также соглашаетесь получать рассылку о&nbsp;турнире. Мы&nbsp;напомним вам о&nbsp;новых этапах, расскажем о&nbsp;победителях и&nbsp;новостях турнира. Вы&nbsp;можете отписаться от&nbsp;неё в&nbsp;любой момент по&nbsp;ссылке в&nbsp;письме.</p>
        <p class="main_rules_text text_block_no-margin">Если вы&nbsp;младше 18&nbsp;лет, получите согласие родителей на&nbsp;участие.</p>
      </div>
    </div>
    </div>
  </div>

  <div class="browser white_floor_browser">
    <div class = "main">
    <footer class="white_floor">

        <div class="footer-content">
            <p class="footer-phone">
                +7 985 368-83-85
            </p>
            <a href="mailto:knifethrowing@yandex.ru" class="footer-email">
                knifethrowing@yandex.ru
            </a>
        </div>
    </footer>


    </div>
  </div>
