<div class="browser">
  <div class="main">

    <div class = "hat hat_results">
        <div class = "content">
          <div class = "logo">Метательные практики</div>
          <div class = "lead_text">Соревнуйтесь с&nbsp;чемпионами из&nbsp;любой точки мира</div>
          
          <div class = "text">
            <p class = "content_text content_text_desktop">Участвуйте на&nbsp;домашних площадках&nbsp;—&nbsp;записывайте свой&nbsp;результат&nbsp;на&nbsp;камеру. 
              Метайте с&nbsp;коротких расстояний&nbsp;— подойдёт даже&nbsp;гараж. 
              Отслеживайте прогресс&nbsp;— соревнуйтесь с&nbsp;профессионалами, любителями и новичками.<span>Бесплатно.</span></p>

              <p class = "content_text content_text_mobile"> Соревнуйтесь с&nbsp;чемпионами из&nbsp;любой точки мира. Участвуйте на&nbsp;домашних площадках&nbsp;—&nbsp;записывайте свой&nbsp;результат&nbsp;на&nbsp;камеру. 
              Метайте с&nbsp;коротких расстояний&nbsp;— подойдёт даже&nbsp;гараж. 
              Отслеживайте прогресс&nbsp;— соревнуйтесь с&nbsp;профессионалами, любителями и новичками.<span>Бесплатно.</span></p>
          </div>
          <div class="social_buttons_container">
            <div class="social_button">
              <a class="icon-link" href="https://www.facebook.com/groups/2112192229109121/permalink/2246143712380638/?__xts__[0]=68.ARB09JUa8pxL2gji6p_UunOCAMvB5M6kv3VLJM2PeDP20P7Qjll2Qgm-fDEORGJs6LFhuvdurzPVISTOhEHuh6bWIWWn6dJyCFsFHlWkcikWFUAGUwGdIQ1E5CRIgTeL13G5d4LL92YRdx7YBNXas0y8YOcXpUaXO78dR5JE2DW_VRtTMWbXbAwaNgXZazHNld2qrGINHz__94hdyRCVUmbxKgFLXRq2ownYOQCk4Ydj3drD1pYxDgQKmLkCSORVWeepaIe0N55DkpJeHH1TuUCovmRfmqYQUMFhv4iuq5iChSo85_Eru2l4S8EPNWn9Do4fYsz1ulV_QUo4ZAqFUsIdK9ndHbzV3l0-jpKe4HLm9nVNLuhcQvqAzo2yX0r60097h3x6FzHdUnInK_PmZ49kQSKbnz8XGRoFerhyYAeZnHwOrqVQXjkamvjD6u-Tbo2K87XqJRXD7iVEZCmVa0Q0wRfVu81EN2lx-e3N1A&__tn__=kCH-R">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="none" viewBox="0 0 44 44">
                <path d="M22 44C7.33333 44 0 35.619 0 22 0 8.38095 7.33333 0 22 0c14.6667 0 22 8.38095 22 22 0 13.619-7.3333 22-22 22z"/>
                <path fill="#000" d="M18.9543 23.7255v11.3238h4.4783V23.7255h3.8386l.5758-4.3504h-4.4144v-2.751c0-.6397.128-1.1515.3839-1.5354.3199-.3839.8957-.5758 1.7273-.5758h2.3032v-3.8385c-.8957-.128-2.0473-.192-3.3268-.192-1.7273 0-3.0708.5118-4.0944 1.5354-1.0237 1.0237-1.4715 2.3672-1.4715 4.1585v3.1988h-3.9025v4.3504h3.9025z"/>
              </svg></a></div>

            <div class="social_button">
              <a class="icon-link" href="https://vk.com/angry_bee">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="none" viewBox="0 0 44 44">
                <path d="M22 44C7.33333 44 0 35.619 0 22 0 8.38095 7.33333 0 22 0c14.6667 0 22 8.38095 22 22 0 13.619-7.3333 22-22 22z"/>
                <path fill="#000" d="M36.2684 15.5269c-.1119.5598-.5597 1.5114-1.3435 2.7989-.5597.9517-1.2315 2.0153-2.0152 3.2468-.6718 1.0077-1.0636 1.5115-1.0636 1.5115-.2239.3358-.3359.6157-.3359.7837 0 .2239.112.4478.3359.6717l.5038.5598c2.687 2.799 4.1984 4.7023 4.5343 5.7099.112.4478.056.8397-.1679 1.0636-.2239.2239-.5038.3359-.9517.3359h-3.3027c-.4479 0-.7837-.112-1.1196-.3919-.2239-.1119-.6718-.5038-1.2316-1.1755-.5598-.6718-1.0636-1.2316-1.5114-1.6794-1.5114-1.3995-2.631-2.1272-3.3028-2.1272-.3358 0-.5598.056-.6717.1679-.112.112-.168.3919-.168.7277-.0559.2799-.0559.8397-.0559 1.7354v1.4554c0 .4479-.112.7838-.3359.9517-.3359.2239-1.0076.3359-2.0153.3359-1.7913 0-3.5266-.5038-5.318-1.5674-1.7913-1.0077-3.3587-2.5191-4.7022-4.4784-1.2875-1.6793-2.35114-3.4147-3.19082-5.206-.67175-1.3435-1.23154-2.5751-1.6234-3.7506-.27989-.8957-.39185-1.5674-.39185-1.9593 0-.6158.33587-.9516 1.11958-.9516h3.30279c.3918 0 .6717.1119.8956.2798.224.224.3919.5598.5598 1.0077.5038 1.5114 1.1196 2.9669 1.9033 4.3663.6718 1.3435 1.3435 2.4071 2.0153 3.1909.6717.8396 1.1755 1.2315 1.5674 1.2315.2239 0 .3359-.056.4478-.2239.112-.168.168-.5038.168-1.0076v-4.8702c-.056-.5598-.168-1.1196-.3919-1.5674-.112-.224-.3359-.5039-.5598-.8397-.2799-.3359-.3918-.5598-.3918-.7837 0-.224.0559-.3919.2239-.5598.1679-.112.3918-.2239.6157-.2239h5.2061c.3359 0 .5598.1119.6718.2798.1119.224.2239.5039.2239.9517v6.4936c0 .3358.0559.6157.1679.7277.112.1679.2239.2239.3919.2239.1679 0 .3918-.056.6157-.1679.2239-.112.5038-.3919.8957-.8397.6717-.7837 1.3995-1.7354 2.1272-2.9109.4478-.7837.9516-1.6794 1.3995-2.687l.5598-1.1196c.2239-.6158.7277-.9516 1.3995-.9516h3.3027c.8957 0 1.2316.4478 1.0076 1.2315z"/>
              </svg>
              </a></div>
            
            <div class="social_button">
              <a class="icon-link" href="http://instagram.com/angrybeeknife/">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="none" viewBox="0 0 44 44">
                <path d="M22 44C7.33333 44 0 35.619 0 22 0 8.38095 7.33333 0 22 0c14.6667 0 22 8.38095 22 22 0 13.619-7.3333 22-22 22z"/>
                <path fill="#000" d="M26.8797 22.0005c0 .965-.2862 1.9083-.8223 2.7106-.5361.8024-1.2981 1.4277-2.1896 1.797-.8916.3693-1.8726.4659-2.819.2777-.9465-.1883-1.8158-.653-2.4982-1.3353-.6823-.6824-1.147-1.5517-1.3353-2.4982-.1882-.9464-.0916-1.9274.2777-2.819.3693-.8915.9946-1.6535 1.797-2.1896.8023-.5361 1.7457-.8223 2.7106-.8223 1.294 0 2.5351.514 3.4501 1.4291.915.915 1.429 2.156 1.429 3.45z"/>
                <path fill="#000" d="M33.4105 13.3675c-.2348-.6357-.609-1.2107-1.0953-1.6827-.4719-.4864-1.047-.8607-1.6827-1.0953-.5158-.1992-1.2945-.4391-2.7174-.5039C26.3717 10.0149 25.9087 10 22.0005 10s-4.3712.0149-5.9146.0856c-1.4269.0658-2.2026.3037-2.7184.5049-.6358.2346-1.2108.6088-1.6827 1.0953-.4862.4721-.8605 1.0471-1.0953 1.6827-.1992.5158-.4391 1.2945-.5039 2.7184C10.0149 17.6303 10 18.0933 10 22.0015s.0149 4.3712.0856 5.9146c.0648 1.4269.2988 2.2016.5039 2.7173.2348.6357.6091 1.2107 1.0953 1.6828.4719.4864 1.047.8606 1.6827 1.0953.5158.1992 1.2945.4391 2.7184.5039 1.5434.0707 2.0054.0856 5.9146.0856 3.9092 0 4.3722-.0149 5.9146-.0856 1.4269-.0648 2.2026-.2988 2.7183-.5039.6314-.2435 1.2047-.6165 1.6832-1.0949.4784-.4785.8514-1.0518 1.0949-1.6832.1992-.5157.4391-1.2944.5039-2.7173.0707-1.5434.0856-2.0064.0856-5.9146s-.0149-4.3712-.0856-5.9146c-.0658-1.4279-.3037-2.2036-.5049-2.7194zm-11.41 16.1487c-1.4865 0-2.9396-.4408-4.1755-1.2666-1.236-.8258-2.1993-1.9996-2.7681-3.373-.5689-1.3733-.7177-2.8844-.4277-4.3424.29-1.4579 1.0058-2.797 2.0569-3.8481 1.0511-1.0511 2.3902-1.7669 3.8481-2.0569 1.458-.29 2.9691-.1412 4.3424.4277 1.3734.5688 2.5472 1.5321 3.373 2.7681.8259 1.2359 1.2666 2.689 1.2666 4.1755 0 1.9933-.7918 3.905-2.2013 5.3144-1.4094 1.4095-3.3211 2.2013-5.3144 2.2013zm7.8135-13.5727c-.3474 0-.687-.103-.9759-.296-.2888-.193-.514-.4673-.6469-.7883-.1329-.321-.1677-.6741-.0999-1.0148.0677-.3408.235-.6537.4807-.8994.2456-.2456.5586-.4129.8993-.4807.3407-.0678.6939-.033 1.0148.1.321.1329.5953.358.7883.6469.193.2888.296.6284.296.9758 0 .2307-.0454.4591-.1337.6722-.0882.2131-.2176.4067-.3807.5698-.1631.1631-.3568.2925-.5699.3808-.2131.0883-.4415.1337-.6721.1337z"/>
              </svg>
            </a></div>
          </div>
        </div> {{!-- div content --}}


        <div class="title"></div>

      <div class="div-form div-form_results">
        <!-- <picture>
          <source media="(max-width: 576px)" srcset="img.svg">
          <source media="(min-width: 577px)" srcset="images/dates.svg"> -->
          {{!-- <img class="img_dates" src="{{img_dates_src}}" alt="Второй этап с 20 мая по 2 июня"> --}}
          <img class="img_dates" src="images/dates_wait_result.svg" alt="10 июня объявим результаты">
        <!-- </picture> -->

        <div class="form-container">
            <form class="form-mail" id="email_form" name="email_form" action="/" method="POST">
                <!-- <form class="form-mail" id="email_form" name="email_form" action="https://formspree.io/noreply-knifethrowing@yandex.ru" method="POST">  -->
            <div class="divEmailCaption">
              <p class="form-caption">Подпишитесь, чтобы </p>
              <p class="form-caption">не пропустить новый этап</p>
            </div>
                <div class="email_box">
                  <input class="input_mail" type="text"  
                        id="input_mail" name="email" placeholder="mail@example.com" 
                        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" 
                        autocapitalize="off" spellcheck="false"/>
                  
                  <div class="btn_send_container" id="div_btn_send_container">
                    <button class = "btn_send" id="send" type="submit"> 
                      <svg class = "btn_send_svg_b" id="btn_send_svg" width="46" height="41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d = "M13 21v-2h16.258l-4.49-4.75L26.014 13 33 20l-6.985 7-1.248-1.25 4.49-4.75H13z"/>
                      </svg>
                    <!-- <img class="img_arrrow" src="images/button_send.svg" alt="Подписаться"
                                            onmouseover="this.src='images/button_send_y.svg';" 
                                            onmouseout="this.src='images/button_send.svg';"> -->
                    </button>
                  </div>
                  <script src="javascripts/scripts_send.js"></script>
              </div>
              </form>
        </div>    

        </div> <!-- div-form -->
    </div> <!-- .hat -->





    <div class="results-block">
      <div class = "results-title">
        <p><span>ПобЕдители</span> вТорого этаПА</p>
      </div>
      {{!-- <img src="/images/winners_second_stage_title_2.svg" alt="Призёры второго этапа" class="results-title-image"> --}}
      <div class="results-section results-section_axes">
        <div class="results-section__header">
          <h3 class="results-section__title">Топоры</h3>
        </div>
        
        <div class="results-section__content">
          <div class="results-section__row">
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Светлана Малкова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">160</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Анастасия Щежина</span><br>
                    <span class="results-item__team">
                      К.Л.И.М
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">155</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Лебедева</span><br>
                    <span class="results-item__team">
                      Злая пчела СПб
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">145</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Николай Севоднясев</span><br>
                    <span class="results-item__team">
                      К.Л.И.М
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">180</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Максим Кузнецов</span><br>
                    <span class="results-item__team">
                      К.Л.И.М
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">175</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Игорь Берзин</span><br>
                    <span class="results-item__team">
                      Пересвет
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">175</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="results-section results-section_knives">
        <div class="results-section__header">
          <h3 class="results-section__title">Ножи</h3>
          <div class="results-section__buttons">
            <button class="results-section__button results-section__button_champions results-section__button_active" onClick="showResultsTable('champions')">
              <p class ="p_unskew" >Лига&nbsp;чемпионов<p>
            </button>
            <button class="results-section__button results-section__button_common" onClick="showResultsTable('common')">
              <p class ="p_unskew">Общая&nbsp;лига</p>
            </button>
            <button class="results-section__button results-section__button_first" onClick="showResultsTable('first')">
              <p class ="p_unskew">Первая&nbsp;лига</p>
            </button>
          </div>
        </div>
        
        <div class="results-section__content results-section__content_champions">
          <div class="results-section__row">
            <h4 class="results-section__row-title">3 метра</h4>
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ирина Хоценко</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">580</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">570</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">550</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Андрей Шубенин</span><br>
                    <span class="results-item__team">
                      К.Л.И.М.
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">580</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Николай Севоднясев</span><br>
                    <span class="results-item__team">
                      К.Л.И.М.
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">575</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Павел Чеботарёв</span><br>
                    <span class="results-item__team">
                      Гюрза
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">575</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">4 метра</h4>
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">510</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Лебедева</span><br>
                    <span class="results-item__team">
                      Злая пчела СПб 
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">405</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ирина Хоценко</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">360</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Павел Чеботарёв</span><br>
                    <span class="results-item__team">
                      Гюрза
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">580</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Денис Сидорин</span><br>
                    <span class="results-item__team">
                      Сварог
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">520</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Михаил Егоров</span><br>
                    <span class="results-item__team">
                      Пересвет
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">515</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">5 метров</h4>
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">490</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">400</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Лебедева</span><br>
                    <span class="results-item__team">
                      Злая пчела СПб
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">360</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Михаил Егоров</span><br>
                    <span class="results-item__team">
                      Пересвет
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">520</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Павел Чеботарёв</span><br>
                    <span class="results-item__team">
                      Гюрза
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">520</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Владислав Самков</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">505</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="results-section__content results-section__content_common">
          <div class="results-section__row">
            <h4 class="results-section__row-title">3 метра</h4>
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Юлия Когай</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">510</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Диана Сухова</span><br>
                    <span class="results-item__team">
                      ВПК Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">510</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Светлана Малкова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">455</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Никита Уксусов 
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span><br>
                    <span>&nbsp;</span>
                    {{!-- 
                    
                    <span class="results-item__team">
                      Нет клуба
                      
                    </span> --}}
                  </p>
                  <p class="results-item__score">535</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Виктор Барыков</span><br>
                    <span class="results-item__team">
                      Пересвет
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">490</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Алексей Сараев</span><br>
                    <span class="results-item__team">
                      ВПК Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">490</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">4 метра</h4>
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Юлия Когай</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">335</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ирина Фадина</span><br>
                    <span class="results-item__team">
                      Сварог
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">295</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Любовь Малаховская</span><br>
                    <span class="results-item__team">
                      ВПК Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">285</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Рашит Гатауллин</span><br>
                    <span class="results-item__team">
                      Злая пчела СПб
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">375</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Никита Полетаев</span><br>
                    <span class="results-item__team">
                      ВПК Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">365</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Константин Назаров</span><br>
                    <span class="results-item__team">
                      Злая пчела СПб
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">360</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">5 метров</h4>
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Юлия Когай</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">335</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Светлана Малкова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">295</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Диана Сухова</span><br>
                    <span class="results-item__team">
                      ВПК Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">260</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Никита Уксусов
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span><br>
                    <span>&nbsp;</span>
                    {{!-- <span class="results-item__team">
                      Нет клуба
                      
                    </span> --}}
                  </p>
                  <p class="results-item__score">360</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Алексей Сараев</span><br>
                    <span class="results-item__team">
                      ВПК Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">355</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Владимир Рюмин</span><br>
                    <span class="results-item__team">
                      Цель
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">310</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="results-section__content results-section__content_first">
          <div class="results-section__row">
            <h4 class="results-section__row-title">3 метра</h4>
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Марина Нагайцева
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span><br>
                    <span>&nbsp;</span>
                    {{!-- <span class="results-item__team">
                      Нет клуба
                      
                    </span> --}}
                  </p>
                  <p class="results-item__score">540</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Софья Чичулина</span><br>
                    <span class="results-item__team">
                      Пересвет
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">540</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Людмила Антимонова</span><br>
                    <span class="results-item__team">
                      К.Л.И.М.
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">450</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Алексей Баландин</span><br>
                    <span class="results-item__team">
                      ВПК Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">540</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Владимир Любарский</span><br>
                    <span class="results-item__team">
                      Гюрза
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">495</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Александр Юшин</span><br>
                    <span class="results-item__team">
                      Пересвет
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">470</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">4 метра</h4>
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Юлия Анциферова</span><br>
                    <span class="results-item__team">
                      Сварог
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">330</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Нина Горецкая </span><br>
                    <span class="results-item__team">
                      Злая пчела СПб
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">275</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Юлия Ерёмина</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">240</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Владимир Любарский</span><br>
                    <span class="results-item__team">
                      Гюрза
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">385</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Руслан Ахмедов</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">320</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Анатолий Стеньшин</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">320</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">5 метров</h4>
            <div class="results-section__row-content">
              
              <img class="gender_ico ico_f" src="/images/ico_female_small.svg" alt="Женщины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Наталья Слобожан</span><br>
                    <span class="results-item__team">
                      Злая пчела Мск
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">260</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Нина Горецкая</span><br>
                    <span class="results-item__team">
                      Злая пчела СПб
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">235</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Юлия Ерёмина</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">235</p>
                </div>
              </div>

              <img class="gender_ico" src="/images/ico_male_small.svg" alt="Мужчины">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Николай Решетников</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">335</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Овчинников
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span><br>
                    <span>&nbsp;</span>
                    {{!-- <span class="results-item__team">
                      Нет клуба
                      
                    </span> --}}
                  </p>
                  <p class="results-item__score">270</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Алексей Карпухин</span><br>
                    <span class="results-item__team">
                      Цель
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">255</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{!-- <a href="" class="results-all-link" target="_blank">
        <svg class="results-all-link__icon" xmlns="http://www.w3.org/2000/svg" width="26" height="28" fill="none" viewBox="0 0 26 28">
          <path d="M0 27.1818h6.48093L26 0h-6.4809L0 27.1818z"/>
        </svg>
        Все результаты
      </a> --}}

      <div class = "link_box link_box_results">
              <a class="link_with_slash" href="files/Metatelnye_praktiki_itogi_2_etapa.xlsx" target="_blank" download>
                <svg class="icon_slash" xmlns="http://www.w3.org/2000/svg" width="26" height="28" fill="none" viewBox="0 0 26 28">
                  <path d="M0 27.1818h6.48093L26 0h-6.4809L0 27.1818z"/>
                </svg>
              <span>Все результаты</span></a>
      </div>


    </div>    {{!-- results_block --}}

    

    {{!-- <div class="results-section__facts-floor_wrapper results-section__facts-second_floor_wrapper">
      <div class = "results-section__facts-floor_img">
        <img class="results-section__facts-first_floor_img" src="images/i.svg">
      </div>
      <div class = "results-section__facts-floor_text results-section__facts-first_floor_text">
          <h3 class="results-section__facts-head minus_margin">200</h3>
          <p class = "factoid_text minus_margin">
             спортсменов участвовали во&nbsp;втором этапе</p>
      </div>
    </div>

    <div class = "results-section__facts-floor_wrapper results-section__facts-first_floor_wrapper">
      <div class="results-section__facts-floor_text results-section__facts-second_floor_text">
        <h3 class="results-section__facts-head">450 </h3>
        <p class = "factoid_text">бла-бла-бла</p>
      </div>

      <div class = "results-section__facts-floor_img">
        <img class="results-section__facts-second_floor_img" src="images/ii_.svg">
      </div>
    </div>

    <div class="results-section__facts-floor_wrapper results-section__facts-third_floor_wrapper">
      <div class = "results-section__facts-floor_img">
        <img class="results-section__facts-third_floor_img" src="images/iii_.svg">
      </div>
      <div class = "results-section__facts-floor_text results-section__facts-first_floor_text">
          <h3 class="results-section__facts-head minus_margin">5</h3>
          <p class = "factoid_text minus_margin">
             траляляляля</p>
      </div>
    </div> --}}

    {{!-- <div onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
      <img src="my_thumbnail.png" style="cursor:pointer" />
    </div> --}}
{{!-- style="display:none" --}}

    {{!-- <div class ="video_wide" >
      <iframe src="//vk.com/video_ext.php?oid=-24414264&id=456239151&hash=e588984f884e6a18&hd=2" 
      width="853" height="480" frameborder="0" allowfullscreen></iframe></iframe></iframe>
    </div>
    <div class ="video_normal">
      <iframe src="//vk.com/video_ext.php?oid=-24414264&id=456239151&hash=e588984f884e6a18&hd=2" 
      width="853" height="480" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class ="video_mobile">
      <iframe src="//vk.com/video_ext.php?oid=-24414264&id=456239151&hash=e588984f884e6a18" 
      width="300" height="225" frameborder="0" allowfullscreen></iframe>
    </div> --}}
    
    {{!-- <video width="400px" height="300px" controls="controls">
      <source src="https://vk.com/video-24414264_456239151">
    </video> --}}
    {{!-- <footer>
      <div class="footer_container">
        <div class="footer_contacts_2">
          +7 985 368-83-85
        </div>
        <div class="footer_contacts_2">
            <a class="small_text_link" href="mailto:knifethrowing@yandex.ru">knifethrowing@yandex.ru</a>
        </div>
        <div class="footer_contacts_2">
          <a class="small_text_link" href="https://bureau.ru/school/27aug2018/" target="_blank">Сделано в Школе Бюро Горбунова</a> в 2019 году
        </div>
      </div>
    </footer> --}}

<footer>
    <div class="footer_container">

      <div class="footer_contacts_2">
        +7 985 368-83-85
      </div>

      <div class="footer_contacts_2">
        <div>
          <a class="small_text_link" href="mailto:knifethrowing@yandex.ru">knifethrowing@yandex.ru</a>
        </div>
        <div class="mobile_footer_link">
          <a class="small_text_link" href="https://bureau.ru/school/27aug2018/" target="_blank">Сделано в Школе Бюро Горбунова</a> в 2019 году
        </div>
      </div>

    </div>
    </footer>
  </div>
</div>
