<div class="browser">
  <div class="main">
    <div class="results-block">
      <img src="/images/winners_second_stage_title.svg" alt="Призёры второго этапа" class="results-title-image">
      <div class="results-section results-section_axes">
        <div class="results-section__header">
          <h3 class="results-section__title">Топоры</h3>
        </div>
        
        <div class="results-section__content">
          <div class="results-section__row">
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">180</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">175</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Анастасия Щежина</span><br>
                    <span class="results-item__team">
                      К.Л.И.М
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">155</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Денис Сидорин</span><br>
                    <span class="results-item__team">
                      Сварог
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">175</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Андрей Чиликин</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">175</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Денис Кошубин</span><br>
                    <span class="results-item__team">
                      Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">175</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="results-section results-section_knives">
        <div class="results-section__header">
          <h3 class="results-section__title">Ножи</h3>
          <div class="results-section__buttons">
            <button class="results-section__button results-section__button_champions results-section__button_active" onClick="showResultsTable('champions')">Лига чемпионов</button>
            <button class="results-section__button results-section__button_common" onClick="showResultsTable('common')">Общая лига</button>
            <button class="results-section__button results-section__button_first" onClick="showResultsTable('first')">Первая лига</button>
          </div>
        </div>
        
        <div class="results-section__content results-section__content_champions">
          <div class="results-section__row">
            <h4 class="results-section__row-title">3 метра</h4>
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">570</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">550</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">460</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Алексей Сараев</span><br>
                    <span class="results-item__team">
                      Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">570</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Перьков</span><br>
                    <span class="results-item__team">
                      Форт-Нож
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">560</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Владислав Самков</span><br>
                    <span class="results-item__team">
                      Алтын-Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">540</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">4 метра</h4>
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">500</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">435</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">435</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Перьков</span><br>
                    <span class="results-item__team">
                      Форт-Нож
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">550</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Станислав Апполонов</span><br>
                    <span class="results-item__team">
                      ФБСНМСпб-ДОСААФ
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">540</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Вадим Зверянский</span><br>
                    <span class="results-item__team">
                      New Zealand Throwing club
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">520</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">5 метров</h4>
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">485</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">415</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">155</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Перьков</span><br>
                    <span class="results-item__team">
                      Форт-Нож
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">485</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Вадим Зверянский</span><br>
                    <span class="results-item__team">
                      New Zealand Throwing club
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">475</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Станислав Апполонов</span><br>
                    <span class="results-item__team">
                      ФБСНМСпб-ДОСААФ
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">435</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="results-section__content results-section__content_common">
          <div class="results-section__row">
            <h4 class="results-section__row-title">3 метра</h4>
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">500</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">435</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">435</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Перьков</span><br>
                    <span class="results-item__team">
                      Форт-Нож
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">550</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Станислав Апполонов</span><br>
                    <span class="results-item__team">
                      ФБСНМСпб-ДОСААФ
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">540</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Вадим Зверянский</span><br>
                    <span class="results-item__team">
                      New Zealand Throwing club
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">520</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">4 метра</h4>
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">570</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">550</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">460</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Алексей Сараев</span><br>
                    <span class="results-item__team">
                      Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">570</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Перьков</span><br>
                    <span class="results-item__team">
                      Форт-Нож
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">560</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Владислав Самков</span><br>
                    <span class="results-item__team">
                      Алтын-Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">540</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">5 метров</h4>
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">485</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">415</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">155</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Перьков</span><br>
                    <span class="results-item__team">
                      Форт-Нож
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">485</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Вадим Зверянский</span><br>
                    <span class="results-item__team">
                      New Zealand Throwing club
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">475</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Станислав Апполонов</span><br>
                    <span class="results-item__team">
                      ФБСНМСпб-ДОСААФ
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">435</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="results-section__content results-section__content_first">
          <div class="results-section__row">
            <h4 class="results-section__row-title">3 метра</h4>
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">500</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">435</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">435</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Алексей Сараев</span><br>
                    <span class="results-item__team">
                      Дружина
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">570</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Перьков</span><br>
                    <span class="results-item__team">
                      Форт-Нож
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">560</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Владислав Самков</span><br>
                    <span class="results-item__team">
                      Алтын-Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">540</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">4 метра</h4>
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">570</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">550</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">460</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Перьков</span><br>
                    <span class="results-item__team">
                      Форт-Нож
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">550</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Станислав Апполонов</span><br>
                    <span class="results-item__team">
                      ФБСНМСпб-ДОСААФ
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">540</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Вадим Зверянский</span><br>
                    <span class="results-item__team">
                      New Zealand Throwing club
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">520</p>
                </div>
              </div>
            </div>
          </div>


          <div class="results-section__row">
            <h4 class="results-section__row-title">5 метров</h4>
            <div class="results-section__row-content">
              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Елена Силантьева</span><br>
                    <span class="results-item__team">
                      Фринайф
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">485</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Лариса Давыдова</span><br>
                    <span class="results-item__team">
                      Стальной лепесток
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">415</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Ольга Шляк</span><br>
                    <span class="results-item__team">
                      Алтын Нур
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">155</p>
                </div>
              </div>

              <div class="results-section__col">
                <div class="results-item">
                  <p class="results-item__place">1</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Дмитрий Перьков</span><br>
                    <span class="results-item__team">
                      Форт-Нож
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">485</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">2</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Вадим Зверянский</span><br>
                    <span class="results-item__team">
                      New Zealand Throwing club
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">475</p>
                </div>
                <div class="results-item">
                  <p class="results-item__place">3</p>
                  <p class="results-item__name-team">
                    <span class="results-item__name">Станислав Апполонов</span><br>
                    <span class="results-item__team">
                      ФБСНМСпб-ДОСААФ
                      <img class="results-item__flag" src="/images/flag_ru.png" alt="Россия">
                    </span>
                  </p>
                  <p class="results-item__score">435</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="" class="results-all-link">
        <svg class="results-all-link__icon" xmlns="http://www.w3.org/2000/svg" width="26" height="28" fill="none" viewBox="0 0 26 28">
          <path d="M0 27.1818h6.48093L26 0h-6.4809L0 27.1818z"/>
        </svg>
        Все результаты
      </a>

      <div class="results-footer">
        <div class="results-footer__contacts">
          <p class="results-footer__tel">+7 985 368-83-85</p>
          <a href="mailto:knifethrowing@yandex.ru" class="results-footer__email">knifethrowing@yandex.ru</a>
        </div>
        <p class="results-footer__school">
          <a href="https://bureau.ru">Сделано в Школе Бюро Горбунова</a> в 2019 году
        </p>
      </div>
    </div>
  </div>
</div>
