  {{!-- <header>
    <div class ="header_content">
      
    </div>
  </header> --}}
  <main>
    <div class="page-header">
      <h1 class="main-title">
        <a class="main-title_link" href="/"> Метательные
        <span>практики</span></a>
      </h1>
      <h2 class="page-title">
        Как
        <span>участвовать</span>
      </h2>
      <p class="page-lead">
        Турнир проходит дистанционно: участники метают топоры и&nbsp;топоры в&nbsp;любом месте и&nbsp;записывают 
        броски на&nbsp;видео. Участвуйте в&nbsp;одной или нескольких дисциплинах на&nbsp;выбор: метайте топоры
        с&nbsp;расстояния 4&nbsp;метра и&nbsp;ножи с&nbsp;3,&nbsp;4 или&nbsp;5&nbsp;метров. Мы&nbsp;приглашаем спортсменов 
        любого пола и&nbsp;возраста. За&nbsp;год мы&nbsp;проводим четыре этапа. Каждый из&nbsp;них&nbsp;— 
        полноценное соревнование со своими призёрами. Те,&nbsp;кто покажут лучшие результаты в&nbsp;этапах, 
        станут победителями по&nbsp;итогам года.


 
      </p>
    </div>

    <div class="page-section page-section_with-aside">
      <div class="page-section__main">
        <h3 class="page-section__title">
          Как подготовиться
        </h3>
        <p class="page-section__text-block page-section__text-block_no-margin">
          Вам понадобятся:
        </p>
        <ul class="page-section__list">
          <li class="page-section__list-item">один топор;</li>
          <li class="page-section__list-item">три ножа. Они должны быть сертифицированы как хозяйственно-бытовые 
            и&nbsp;быть безопасными: нескладная конструкция без щербин и&nbsp;неровностей, способных повредить 
            руку при&nbsp;броске; толщина режущей кромки больше 1&nbsp;мм;</li>
          <li class="page-section__list-item">от&nbsp;десяти мишеней, распечатанных на&nbsp;офисной бумаге и&nbsp;обычном принтере;</li>
          <li class="page-section__list-item">видеокамера с&nbsp;заряженной батареей и&nbsp;свободной картой памяти;</li>
          <li class="page-section__list-item">бумага и&nbsp;ручка для&nbsp;записи результатов;</li>
          <li class="page-section__list-item">кнопки для мишени;</li>
          <li class="page-section__list-item">рулетка, мел, маркер или бумажный скотч, чтобы замерить расстояние до&nbsp;мишени.</li>
        </ul>
        <div class="carousel">
          <div class="carousel__main-image">
            <div class="carousel__images">
              <img src="images/knife_1.png" class="carousel__image">
              <img src="images/knife_2.png" class="carousel__image">
              <img src="images/knife_3.png" class="carousel__image">
              <img src="images/knife_4.png" class="carousel__image">
              <img src="images/knife_5.png" class="carousel__image">
            </div>
          </div>
          <div class="carousel__menu">
            <button class="carousel__menu-button carousel__menu-button_active" onclick="setMainImage(1)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(2)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(3)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(4)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(5)"></button>
          </div>
          <p class="carousel__caption">
            Примеры ножей и&nbsp;топоров, которые подходят для участия в&nbsp;турнире
          </p>
        </div>
      </div>
      <div class="page-section__aside">
        <img src="images/target.png" class="target-image" alt="Мишень">
        <a href="images/target_A4.pdf" class="target-link" target="_blank" download>
          Скачать мишень
        </a>
      </div>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Как&nbsp;метать,
        <span>повесить&nbsp;мишени</span>
        <span>и&nbsp;снять&nbsp;видео</span>
      </h3>
      <p class="page-section__text-block page-section__text-block_no-margin">
        Отметьте на&nbsp;полу линии на&nbsp;расстоянии 3,&nbsp;4 и&nbsp;5&nbsp;метров от&nbsp;стенда. 
        Не&nbsp;заступайте за&nbsp;них при&nbsp;броске. Мишень для топора повесьте любым способом, а&nbsp;для ножей — так, чтобы на&nbsp;любой горизонтальной и&nbsp;вертикальной линии было до&nbsp;двух мишеней.
      </p>

      <div class="page-section-image_double div_flex_option">
      <div class="first_image">
     
        <img  src="images/wrong_placing.png">
        <p class="page-section-image__caption">
            Неправильно. На&nbsp;горизонтальных&nbsp;и&nbsp;вертикальных&nbsp;
            <span>линиях по&nbsp;три&nbsp;мишени</span>
          </p>
      </div>
      <div class="second_image">
        <img  src="images/right_placing.png">
        <p class="page-section-image__caption">
            Правильно. На&nbsp;горизонтальных и&nbsp;вертикальных 
            <span>линиях по&nbsp;две мишени</span>
          </p>
      </div>
      </div>
      {{!-- <div class="page-section-image page-section-image_double">
        <div class="page-section-image__left">
          <img src="images/wrong_placing.svg" class="page-section-image__image" alt="">
          <p class="page-section-image__caption">
            Неправильная расстановка мишеней.<br>
            На&nbsp;горизонтальных и&nbsp;вертикальных линиях<br>
            по&nbsp;три&nbsp;мишени
          </p>
        </div>
        <div class="page-section-image__right">
          <img src="images/right_placing.svg" class="page-section-image__image" alt="">
          <p class="page-section-image__caption">
            Правильная расстановка мишеней.<br>
            На&nbsp;горизонтальных и&nbsp;вертикальных линиях<br>
            по&nbsp;две мишени
          </p>
        </div>
      </div> --}}
      <p class="page-section__text-block">
        Включите видеозапись и&nbsp;метайте в&nbsp;любой технике. 
        На&nbsp;каждую дисциплину у&nbsp;вас есть по&nbsp;две пробные и&nbsp;десять зачётных серий. 
        Пробные серии не&nbsp;учитываются при&nbsp;подсчёте результатов. Серия для топоров включает в&nbsp;себя 
        один бросок, на&nbsp;который вам отводится 30&nbsp;секунд. Серия для ножей состоит из&nbsp;трёх бросков, 
        на&nbsp;неё у&nbsp;вас одна&nbsp;минута.
      </p>
      <p class="page-section__text-block">
        Снимите по&nbsp;одному видео на&nbsp;каждую дисциплину, в&nbsp;которой участвуете. 
        Сделайте запись единым дублем без&nbsp;монтажа. После серии бросков поднесите камеру к&nbsp;мишеням, 
        чтобы в&nbsp;кадре было отчётливо видно, в&nbsp;какую зону попал топор или ножи. Если вы&nbsp;метаете 
        на&nbsp;площадке клуба, клуб запишет единое видео на&nbsp;всех участников.
      </p>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Как&nbsp;оценить
        <span>свои&nbsp;результаты</span>
      </h3>
      <p class="page-section__text-block">
        За&nbsp;бросок начисляется столько баллов, сколько указано на&nbsp;мишени, куда попал топор или нож. 
        Если топор или нож попал на&nbsp;границу зачётных зон или перекрывает несколько из&nbsp;них, 
        ориентируйтесь на&nbsp;зону с наибольшим баллом. Если топор или&nbsp;нож&nbsp;упал на&nbsp;пол 
        до&nbsp;окончания серии, воткнулся в&nbsp;мишень не&nbsp;режущей кромкой или остриём, то&nbsp;при 
        подсчёте он&nbsp;не&nbsp;учитывается.
      </p>
      <p class="page-section__text-block">
        Заступив за&nbsp;линию броска, вы&nbsp;теряете баллы за&nbsp;самый результативный бросок серии либо 
        20&nbsp;баллов от&nbsp;общего результата, если не&nbsp;попадёте ни&nbsp;в&nbsp;одну мишень в&nbsp;серии.
      </p>
      <p class="page-section__text-block">
        Если вы&nbsp;участвуете на&nbsp;площадке клуба, клуб назначает судей, которые следят 
        за&nbsp;соревнованием и&nbsp;фиксируют баллы. Судьи могу снять дополнительные баллы 
        за&nbsp;несоблюдение правил площадки.
      </p>
    </div>

    <div class="page-section page-section_no-margin">
      <h3 class="page-section__title">
        Как отправить
        <span>результаты</span>
      </h3>
      <p class="page-section__text-block page-section__text-block_no-margin">
        Отправьте результаты с&nbsp;00:00 20&nbsp;мая до&nbsp;23:59 2&nbsp;июня по&nbsp;Москве. 
        Заполните личные данные, введите результаты бросков и&nbsp;добавьте ссылку на&nbsp;видео. 
        Видео можно загрузить на&nbsp;любой сервис, например, 
        <a href="https://disk.yandex.ru/client/disk" target="_blank">Яндекс.Диск</a>, 
        <a href="https://drive.google.com" target="_blank">Гугл&nbsp;Диск</a> 
        или&nbsp;<a href="https://www.youtube.com/" target="_blank">Ютуб</a>.
      </p>
    </div>

    <div class="page-cta-block">
      <div class="page-cta-block__content">
        <a class="button_link" href="/" target="_blank">
          <button class="page-cta-block__button">Участвовать в&nbsp;турнире</button>
        </a>
        <img src="images/dates_rules_i.svg" class="page-cta-block__dates">
      </div>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Как&nbsp;узнать
        <span>победителей</span>
      </h3>
      <p class="page-section__text-block page-section__text-block_no-margin">
        Через неделю после этапа мы&nbsp;определим победителей по&nbsp;числу баллов у&nbsp;мужчин и&nbsp;женщин. 
        В&nbsp;ножах призёры распределятся отдельно по&nbsp;дистанциям в&nbsp;3,&nbsp;4&nbsp;и&nbsp;5&nbsp;метров 
        и&nbsp;лигам среди профессионалов, любителей и&nbsp;новичков. Лиги формируются по&nbsp;сумме баллов 
        за&nbsp;все ножевые дистанции:
        <ul class="page-section__list">
          <li class="page-section__list-item">Лига чемпионов&nbsp;— от&nbsp;1200 баллов,</li>
          <li class="page-section__list-item">Общая лига&nbsp;— от&nbsp;900 до&nbsp;1200 баллов,</li>
          <li class="page-section__list-item">Первая лига&nbsp;— до&nbsp;900 баллов.</li>
        </ul>
      </p>
      <p class="page-section__text-block">
        В&nbsp;конце года выиграют те,&nbsp;кто наберёт больше всего баллов по&nbsp;итогам трёх самых результативных этапов.
      </p>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Как&nbsp;узнать
        <span>победителей</span>
        <span>среди&nbsp;клубов</span>
      </h3>
      <p class="page-section__text-block page-section__text-block_no-margin">
        Клубы соревнуюся между собой по&nbsp;числу своих участников, которые заняли призовые места. 
        В&nbsp;каждом этапе победители турнира приносят баллы клубам в&nbsp;зависимости от&nbsp;занятого места, дисциплины и&nbsp;лиги:
      </p>
      <div class="page-section__table">
        <div class="page-section__table-row page-section__table-row_first">
          <div class="page-section__table-cell page-section__table-cell_first-col"></div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            1&nbsp;место
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            2&nbsp;место
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            3&nbsp;место
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_second">
          <div class="page-section__table-cell page-section__table-row_first-cell page-section__table-cell_first-col">
            <b>Топоры</b>
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">9</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">8</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">7</span> <span class="table-small">баллов</span>
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_third">
          <div class="page-section__table-cell page-section__table-cell_first-col">
            <b>Ножи</b> Лига&nbsp;чемпионов
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">7</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">6</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">5</span> <span class="table-small">баллов</span>
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_fourth">
          <div class="page-section__table-cell page-section__table-cell_first-col">
            Общая лига
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">5</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">4</span> <span class="table-small">балла</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">3</span> <span class="table-small">балла</span>
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_fifth">
          <div class="page-section__table-cell page-section__table-cell_first-col">
            Первая лига
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">3</span> <span class="table-small">балла</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">2</span> <span class="table-small">балла</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">1</span> <span class="table-small">балл</span>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Техника
        <span>безопасности</span>
      </h3>
      <p class="page-section__text-block">
        Метайте, если между вами и&nbsp;стендом нет&nbsp;людей и&nbsp;животных. 
        Запрещено имитировать удары или броски в&nbsp;сторону от&nbsp;стенда и&nbsp;фехтовать ножами и топорами.
      </p>
      <p class="page-section__text-block">
        Если у&nbsp;стенда несколько метателей, собирайте топоры и&nbsp;ножи после 
        бросков и&nbsp;фиксируйте результаты только после того, как&nbsp;все закончат метать. 
        Доводите и&nbsp;точите топоры и&nbsp;ножи также вне&nbsp;зоны метания.
      </p>
      <p class="page-section__text-block">
        Не&nbsp;ловите, не&nbsp;отбивайте и&nbsp;не&nbsp;пытайтесь остановить срикошетивший топор или нож. 
        После участия уберите топоры и&nbsp;ножи из&nbsp;открытого доступа.
        </p>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Обработка
        <span>персональных</span>
        <span>данных</span>
      </h3>

      <p class="page-section__text-block">
        Отправляя результаты бросков, вы&nbsp;предоставляете «‎Метательным практикам» и&nbsp;первичному 
        отделению ДОСААФ «Клубу метания ножей „Злая Пчела“» свои&nbsp;персональные данные: фамилию, имя, пол, 
        страну, клуб, электронную почту и&nbsp;видеозаписи с&nbsp;вашим участием.
      </p>
      <p class="page-section__text-block">
        Вы&nbsp;даёте согласие на&nbsp;автоматизированную, неавтоматизированную и&nbsp;смешанную 
        обработку персональных данных. Обработка данных включает сбор, систематизацию, накопление, 
        хранение, уточнение, использование, обезличивание, блокирование и&nbsp;уничтожение персональных 
        данных и&nbsp;иной информации, которую вы или&nbsp;ваш&nbsp;представитель сообщили для участия 
        в&nbsp;онлайн-турнире метателей топоров&nbsp;и&nbsp;ножей и&nbsp;для получения рассылки.
      </p>
      <p class="page-section__text-block">
        Согласие действует бессрочно. Если вы&nbsp;захотите его&nbsp;отозвать, направьте нам 
        письменное заявление.
      </p>
      <p class="page-section__text-block">
        Вы также соглашаетесь получать рассылку о&nbsp;турнире. Мы&nbsp;напомним вам о&nbsp;новых этапах, 
        расскажем о&nbsp;победителях и&nbsp;новостях турнира. Вы&nbsp;можете отписаться от&nbsp;неё 
        в&nbsp;любой момент по&nbsp;ссылке в&nbsp;письме.
      </p>
      <p class="page-section__text-block">
        Если вы&nbsp;младше 18&nbsp;лет, получите согласие родителей на&nbsp;участие.
      </p>
    </div>
  </main>
  <footer>
    <div class="footer-content">
      <p class="footer-phone">
        +7 985 368-83-85
      </p>
      <a href="mailto:knifethrowing@yandex.ru" class="footer-email">
        knifethrowing@yandex.ru
      </a>
    </div>
  </footer>