  <div class = "main">
    <div class = "logo">Метательные практики</div>
    <div class = "head_container">
      <h1 class = "h1_rules">Как участвовать</h1>
      <p>Турнир проходит онлайн, поэтому метать ножи и топоры можно в любом месте. Главное — записать процесс на видео. За год мы проводим четыре этапа. Те, кто покажет лучшие результаты в этапах, станут победителями по итогам года.</p>
    </div>
    
    <div class="h2_head_container">
      <h2 class="h2_rules">Правила</h2>
      <p>Онлайн-турнир проходит каждый год в четыре этапа. Метайте в любом месте, главное — записать процесс на видео. Участвовать можно в одной или нескольких дисциплинах    на выбор: топоры с расстояния 4 м и ножи с 3, 4 и 5 м. У участников нет ограничений    по полу и возрасту. Но если вы младше 18 лет, получите согласие родителей на участие.</p>
    </div>
    
    <div class="floor_container div_flex_option">
      <div class="first_part_text">
        <h3 class="h3_rules">Подготовка</h3>
        <p>Для участия вам понадобятся:</p>
        <ul>
         <li>один топор;</li>
         <li>три ножа. Они должны быть сертифицированы как хозяйственно-бытовые и быть безопасными: нескладная конструкция без щербин и неровностей, способных повредить руку при броске; толщина режущей кромки больше 1 мм;</li>
         <li>от десяти мишеней, распечатанных на офисной бумаге и обычном принтере;</li>
         <li>видеокамера с заряженной батареей и свободной картой памяти;</li>
         <li>бумага и ручка для записи результатов; кнопки для мишени; рулетка, мел, маркер или бумажный скотч, чтобы замерить расстояние до мишени.</li>
        </ul>
      </div>
      <div>
        <button class="button_rules button_rules_ok">Скачать мишень</button>
      </div>
    </div>

  <div class="floor_container">
    <h3 class="h3_rules">Участие</h3>
    <p>Отметьте на полу линии на расстоянии 3, 4 и 5 м от стенда. Не заступайте за них      при броске. Мишень для топора повесьте любым способом, а для ножей — так, чтобы на любой горизонтальной и вертикальной линии было до двух мишеней.</p>
    <div class="targets_container div_flex_option">
      <div class="first_image">
        <img src="images/wrong_targets.png">
        <p class="image_caption">Неправильная расстановка мишеней. 
        На&nbsp;горизонтальных и&nbsp;вертикальных линиях по три мишени</p>
      </div>
      <div class="second_image">
        <img src="images/correct_targets.png">
        <p class="image_caption">Правильная расстановка мишеней.
        На&nbsp;горизонтальных и&nbsp;вертикальных линиях по две мишени</p>
      </div>
    </div>

    <p>Включите видеозапись и метайте в любой технике. На каждую дисциплину у вас есть по две пробные и десять зачётных серий. Пробные серии не учитываются при подсчёте результатов. Для топоров один бросок в серии, на каждый бросок —     30 секунд. Для ножей три броска в серии, на каждую серию — одна минута.</p>

    <p>Снимите по одному видео на каждую дисциплину, в которой участвуете. Запись должна быть одним дублем без монтажа. Поднесите камеру к мишеням, когда будете записывать результаты. Если вы участвуете на площадке клуба, клуб запишет единое видео на всех участников.</p>
  </div>


  

  <div class="floor_container">
    <h3 class="h3_rules">Оценка результатов</h3>
    <p>За каждый бросок начисляется столько баллов, сколько указано на мишени,           куда попал топор или нож. Если топор или нож попал на границу зачётных зон            или перекрывает несколько из них, учитывается зона с наибольшим баллом.            Если топор или нож упал на пол до окончания серии, воткнулся в мишень не режущей кромкой или остриём, то при подсчёте он не учитывается. </p>
    <p>Заступив за линию броска, вы теряете баллы за самый результативный бросок серии либо 20 баллов от общего результата, если не попадёте ни в одну мишень в серии. </p>
    <p>Если вы участвуете на площадке клуба, клуб назначает судей, которые следят             за соревнованием и фиксируют баллы. Судьи могу снять дополнительные баллы            за несоблюдение правил площадки.</p>
  </div>

  <div class="floor_container">
    <h3 class="h3_rules">Отправка результатов</h3>
    <p>Мы принимаем результаты с 00:00 20 мая до 23:59 2 июня по Москве. Заполните личные данные, введите результаты бросков и добавьте ссылку на видео. Видео можно загрузить на любой сервис, например, 
      <a href=#>Яндекс.Диск</a>, <a href=#>Гугл Диск</a> или <a href=#>Ютуб</a>.</p>

    <button class="button_rules button_rules_ok">Участвовать в турнире</button>
  </div>
  
  <div class="floor_container">
    <h3 class="h3_rules">Объявление победителей</h3>
    <p>Через неделю после этапа мы определим победителей по большинству баллов        среди мужчин и женщин. В ножах призёры распределятся отдельно по дистанциям      в 3, 4 и 5 м и лигам среди профессионалов, любителей и новичков. Лиги формируются по сумме баллов за все ножевые дистанции:</p>

    <ul>
      <li>Лига чемпионов — от 1200 баллов,</li>
      <li>Общая лига — от 900 до 1200 баллов,</li>
      <li>Первая лига — до 900 баллов.</li>
    </ul>

    <p>В конце года выиграют те, кто наберёт больше всего баллов по итогам трёх самых результативных этапов.</p>
  </div>

  <div class="floor_container">
    <h3 class="h3_rules">Клубный зачёт</h3>
    <p>Призёры турнира приносят баллы клубам, в которых они состоят. Лучшими клубами станут те, кто наберёт больше всего баллов. Баллы присуждаются после этапа за каждого победителя:</p>

    <p>ВСТАВИТЬ ТАБЛИЦУ</p>
  </div>

  <div class="h2_head_container">
    <h2 class="h2_rules">Техника безопасности</h2>
    <p>Метайте, если между вами и стендом нет людей и животных. Запрещено имитировать удары или броски в сторону от стенда и фехтовать ножами и топорами. </p>
    <p>Если у стенда несколько метателей, собирайте ножи и топоры после бросков и фиксируйте результаты только после того, как все закончат метать. Доводите и точите ножи и топоры также вне зоны метания. </p>
    <p>Не ловите, не отбивайте и не пытайтесь остановить срикошетивший нож или топор. После участия уберите ножи и топоры из открытого доступа.</p>
  </div>

  <div class="h2_head_container">
    <h2 class="h2_rules">Обработка персональных данных</h2>
    <p>Отправляя результаты бросков, вы предоставляете «‎Метательным практикам»‎ и первичному отделению ДОСААФ «Клубу метания ножей „Злая Пчела“» свои персональные данные: фамилию, имя, пол, страну, клуб, электронную почту         и видеозапись с вашим участием. </p>
    <p>Вы даёте согласие на автоматизированную, неавтоматизированную и смешанную обработку персональных данных. Обработка данных включает сбор, систематизацию, накопление, хранение, уточнение, использование, обезличивание, блокирование и уничтожение персональных данных и иной информации, которую вы или ваш представитель сообщили для участия в онлайн-турнире метателей топоров и ножей и для получения рассылки. </p>
    <p>Согласие действует бессрочно. Если вы захотите его отозвать, направьте нам письменное заявление.</p>
    <p>Вы также соглашаетесь получать рассылку о турнире. Мы напомним вам о новых этапах, расскажем о победителях и новостях турнира. Вы можете отписаться от неё в любой момент.</p>
  </div>


  <footer>
    <div class="footer_container">

      <div class="footer_contacts_2">
        +7 985 368-83-85
      </div>

      <div class="footer_contacts_2">
        <div>
          <a class="small_text_link" href="mailto:knifethrowing@yandex.ru">knifethrowing@yandex.ru</a>
        </div>
        <div>
          <a class="small_text_link" href="https://bureau.ru/school/27aug2018/">Сделано в Школе Бюро Горбунова</a> в 2019 году
        </div>
      </div>

    </div>
    </footer>

</div>
