  <div class = "main">
    <div class = "logo">Метательные практики</div>
    <div class = "head_container">
      <h1 class = "h1_rules">Как участвовать</h1>
      <p class="lead">Турнир проходит онлайн, 
        поэтому метать ножи и топоры можно в любом месте. 
        Главное — записать процесс на видео. За год мы проводим четыре этапа. 
        Те, кто покажет лучшие результаты в этапах, станут победителями по итогам года. 
        В турнире четыре дисциплины: топоры с расстояния 4 м и ножи с 3, 4 и 5 м. 
        Участвовать можно в одной или нескольких дисциплинах на выбор. 
        У участников нет ограничений по полу и возрасту, но если вы младше 18 лет, получите 
        согласие родителей.</p>
    </div>
    
    {{!-- <div class="h2_head_container">
      <h2 class="h2_rules">Подготовка</h2>
      <p>Онлайн-турнир проходит каждый год в&nbsp;четыре этапа. Метайте в&nbsp;любом месте, 
        главное — записать процесс на&nbsp;видео. Участвовать можно в&nbsp;одной или нескольких 
        дисциплинах на&nbsp;выбор: топоры с&nbsp;расстояния 4&nbsp;м и ножи с&nbsp;3,&nbsp;4 и&nbsp;5&nbsp;м. 
        У&nbsp;участников нет ограничений по&nbsp;полу и&nbsp;возрасту. Но&nbsp;если вы&nbsp;младше 18&nbsp;лет, 
        получите согласие родителей на&nbsp;участие.</p>
    </div> --}}
    
    <div class="floor_container_flex div_flex_option">
      <div class="first_part_text">
        <h3 class="h2_rules">Подготовка</h3>
        <p>Вам понадобятся:</p>
        <ul>
         <li>один топор;</li>
         <li>три ножа. Они должны быть сертифицированы как хозяйственно-бытовые и&nbsp;быть безопасными: 
           нескладная конструкция без&nbsp;щербин и&nbsp;неровностей, способных повредить руку при&nbsp;броске;
           толщина режущей кромки больше 1&nbsp;мм;</li>
         <li>от&nbsp;десяти мишеней, распечатанных на&nbsp;офисной бумаге и&nbsp;обычном принтере;</li>
         <li>видеокамера с&nbsp;заряженной батареей и&nbsp;свободной картой памяти;</li>
         <li>бумага и&nbsp;ручка для&nbsp;записи результатов;</li>
         <li>кнопки для&nbsp;мишени;</li>
         <li>рулетка, мел, маркер или бумажный скотч, чтобы замерить расстояние до&nbsp;мишени.</li>
        </ul>
      </div>
      <div class="download_mishen">
        <img class="mishen_img" src="images/mishen.png">
        <a class = "download_button_link" href="images/A4_target.pdf" download><button class="button_rules button_download button_rules_ok">Скачать мишень</button></a>
      </div>
    </div>

  <div class="floor_container">
    <h3 class="h2_rules">Участие</h3>
    <p>Отметьте на&nbsp;полу линии на расстоянии 3,&nbsp;4 и&nbsp;5&nbsp;м от&nbsp;стенда. 
      Не&nbsp;заступайте за&nbsp;них при&nbsp;броске. Мишень для топора повесьте любым способом, 
      а&nbsp;для ножей&nbsp;— так, чтобы на&nbsp;любой горизонтальной и&nbsp;вертикальной линии было 
      до&nbsp;двух мишеней.</p>
    <div class="targets_container div_flex_option">
      <div >
        <img class="first_image" src="images/wrong_targets.png">
        <p class="image_caption">Неправильная расстановка мишеней.</p> 
        <p class="image_caption">На&nbsp;горизонтальных и&nbsp;вертикальных линиях</p>
        <p class="image_caption">по&nbsp;три мишени</p>
      </div>
      <div >
        <img class="second_image" src="images/correct_targets.png">
        <p class="image_caption">Правильная расстановка мишеней.</p>
        <p class="image_caption">На&nbsp;горизонтальных и&nbsp;вертикальных линиях</p>
        <p class="image_caption">по&nbsp;две мишени</p>
      </div>
    </div>

    <p>Включите видеозапись и&nbsp;метайте в&nbsp;любой технике. На&nbsp;каждую дисциплину 
      у&nbsp;вас есть по&nbsp;две пробные и&nbsp;десять зачётных серий. Пробные серии не&nbsp;учитываются 
      при&nbsp;подсчёте результатов. Для&nbsp;топоров один бросок в&nbsp;серии, на&nbsp;каждый бросок&nbsp;—
      30&nbsp;секунд. Для ножей три броска в&nbsp;серии, на&nbsp;каждую серию&nbsp;— одна минута.</p>

    <p>Снимите по&nbsp;одному видео на&nbsp;каждую дисциплину, в&nbsp;которой участвуете. 
      Запись должна быть одним дублем без&nbsp;монтажа. Поднесите камеру к&nbsp;мишеням, 
      когда будете записывать результаты. Если вы&nbsp;участвуете на&nbsp;площадке клуба, 
      клуб запишет единое видео на&nbsp;всех участников.</p>
  </div>


  

  <div class="floor_container">
    <h3 class="h2_rules">Оценка результатов</h3>
    <p>За&nbsp;каждый бросок начисляется столько баллов, сколько указано на&nbsp;мишени, куда попал топор или нож. 
      Если топор или&nbsp;нож попал на&nbsp;границу зачётных зон или перекрывает несколько из&nbsp;них, 
      учитывается зона с&nbsp;наибольшим баллом. Если топор или нож упал на&nbsp;пол до&nbsp;окончания серии, 
      воткнулся в&nbsp;мишень не&nbsp;режущей кромкой или остриём, то&nbsp;при&nbsp;одсчёте он&nbsp;
      не&nbsp;учитывается. </p>
    <p>Заступив за&nbsp;линию броска, вы&nbsp;теряете баллы за&nbsp;самый результативный бросок серии 
      либо 20&nbsp;баллов от&nbsp;общего результата, если не&nbsp;попадёте ни&nbsp;в&nbsp;одну мишень в&nbsp;серии. </p>
    <p>Если вы&nbsp;участвуете на&nbsp;площадке клуба, клуб назначает судей, которые следят за&nbsp;соревнованием 
      и&nbsp;фиксируют баллы. Судьи могу снять дополнительные баллы за&nbsp;несоблюдение правил площадки.</p>
  </div>

  <div class="floor_container">
    <h3 class="h2_rules">Отправка результатов</h3>
    <p>Мы принимаем результаты с&nbsp;00:00 20&nbsp;мая до&nbsp;23:59 2&nbsp;июня по&nbsp;Москве. 
      Заполните личные данные, введите результаты бросков и&nbsp;добавьте ссылку на&nbsp;видео. 
      Видео можно загрузить на&nbsp;любой сервис, например, 
      <a class="links_in_text" href="https://disk.yandex.ru/client/disk">Яндекс.Диск</a>, 
      <a class="links_in_text" href="https://drive.google.com">Гугл&nbsp;Диск</a> или 
      <a class="links_in_text" href="https://www.youtube.com/">Ютуб</a>.</p>
  </div>
</div>

<div class="floor_overflow">
  <div class = "main">
    <div class="floor_container_overflow div_flex_option">
      <a class = "download_button_link" href="/">
        <button class="button_rules button_participate button_rules_ok">Участвовать в&nbsp;турнире</button>
        </a>
      <img class="img_dates" src="images/dates_rules.svg">
    </div>
  </div>  
</div>  

<div class = "main">
  <div class="floor_container">
    <h3 class="h2_rules">Объявление победителей</h3>
    <p>Через неделю после этапа мы&nbsp;определим победителей по&nbsp;большинству баллов среди 
      мужчин и&nbsp;женщин. В&nbsp;ножах призёры распределятся отдельно по&nbsp;дистанциям 
      в&nbsp;3,&nbsp;4 и&nbsp;5&nbsp;м и&nbsp;лигам среди профессионалов, любителей и&nbsp;новичков. 
      Лиги формируются по&nbsp;сумме баллов за&nbsp;все ножевые дистанции:</p>

    <ul>
      <li>Лига чемпионов&nbsp;— от&nbsp;1200 баллов,</li>
      <li>Общая лига&nbsp;— от&nbsp;900 до&nbsp;1200 баллов,</li>
      <li>Первая лига&nbsp;— до&nbsp;900 баллов.</li>
    </ul>

    <p>В&nbsp;конце года выиграют те,&nbsp;кто наберёт больше всего баллов по&nbsp;итогам 
      трёх самых результативных этапов.</p>
  </div>

  <div class="floor_container">
    <h3 class="h2_rules">Клубный зачёт</h3>
    <p>Призёры турнира приносят баллы клубам, в&nbsp;которых они состоят. Лучшими клубами станут 
      те,&nbsp;кто наберёт больше всего баллов. Баллы присуждаются после этапа за&nbsp;каждого победителя:</p>

    <img class="img_table" src="images/table.svg">
  </div>

  <div class="floor_container">
    <h2 class="h2_rules">Техника безопасности</h2>
    <p>Метайте, если между вами и&nbsp;стендом нет людей и&nbsp;животных. Запрещено имитировать удары 
      или броски в&nbsp;сторону от&nbsp;стенда и&nbsp;фехтовать ножами и&nbsp;топорами. </p>
    <p>Если у&nbsp;стенда несколько метателей, собирайте ножи и&nbsp;топоры после бросков и&nbsp;фиксируйте
       результаты только после того, как&nbsp;все закончат метать. Доводите и&nbsp;точите ножи и&nbsp;топоры 
       также вне зоны метания. </p>
    <p>Не&nbsp;ловите, не&nbsp;отбивайте и&nbsp;не&nbsp;пытайтесь остановить срикошетивший нож или топор. 
      После участия уберите ножи и&nbsp;топоры из&nbsp;открытого доступа.</p>
  </div>

  <div class="floor_container">
    <h2 class="h2_rules">Обработка персональных данных</h2>
    <p>Отправляя результаты бросков, вы&nbsp;предоставляете «‎Метательным практикам»‎ и&nbsp;первичному 
      отделению ДОСААФ «Клубу метания ножей „Злая Пчела“» свои персональные данные: фамилию, имя, пол, 
      страну, клуб, электронную почту и&nbsp;видеозапись с&nbsp;вашим участием. </p>
    <p>Вы&nbsp;даёте согласие на&nbsp;автоматизированную, неавтоматизированную и&nbsp;смешанную обработку 
      персональных данных. Обработка данных включает сбор, систематизацию, накопление, хранение, 
      уточнение, использование, обезличивание, блокирование и&nbsp;уничтожение персональных данных и&nbsp;иной 
      информации, которую вы&nbsp;или ваш представитель сообщили для участия в&nbsp;онлайн-турнире 
      метателей топоров и&nbsp;ножей и&nbsp;для получения рассылки. </p>
    <p>Согласие действует бессрочно. Если вы&nbsp;захотите его отозвать, направьте нам письменное 
      заявление.</p>
    <p>Вы&nbsp;также соглашаетесь получать рассылку о&nbsp;турнире. Мы&nbsp;напомним вам о&nbsp;новых 
      этапах, расскажем о&nbsp;победителях и&nbsp;новостях турнира. Вы можете отписаться от&nbsp;неё 
      в&nbsp;любой момент.</p>
  </div>


  <footer>
    <div class="footer_container">

      <div class="footer_contacts_2">
        +7 985 368-83-85
      </div>

      <div class="footer_contacts_2">
        <div>
          <a class="small_text_link" href="mailto:knifethrowing@yandex.ru">knifethrowing@yandex.ru</a>
        </div>
        {{!-- <div>
          <a class="small_text_link" href="https://bureau.ru/school/27aug2018/">Сделано в Школе Бюро Горбунова</a> в 2019 году
        </div> --}}
      </div>

    </div>
    </footer>

</div>
