  <header>
    <h1 class="main-title">
      Метательные<br>
      практики
    </h1>
  </header>
  <main>
    <div class="page-header">
      <h2 class="page-title">
        Как<br>
        участвовать
      </h2>
      <p class="page-lead">
          Турнир проходит онлайн, участники метают ножи и&nbsp;топоры в&nbsp;любом месте и&nbsp;записывают
          броски на&nbsp;видео. Участвовать можно в&nbsp;одной или нескольких дисциплинах на&nbsp;выбор:
          метать топоры с&nbsp;расстояния 4&nbsp;м и&nbsp;ножи с&nbsp;3, 4&nbsp;и&nbsp;5&nbsp;м.
          Мы&nbsp;приглашаем спортсменов любого пола и&nbsp;возраста, но&nbsp;если вы&nbsp;младше 18&nbsp;лет,
          получите согласие родителей. За&nbsp;год мы&nbsp;проводим четыре этапа. Каждый включает в&nbsp;себя
          полный цикл от&nbsp;метания ножей и&nbsp;топоров до&nbsp;объявления призёров. Те, кто покажут лучшие
          результаты в&nbsp;этапах, станут победителями по&nbsp;итогам года.
      </p>
    </div>

    <div class="page-section page-section_with-aside">
      <div class="page-section__main">
        <h3 class="page-section__title">
          Как подготовиться
        </h3>
        <p class="page-section__text-block page-section__text-block_no-margin">
          Вам понадобятся:
        </p>
        <ul class="page-section__list">
          <li class="page-section__list-item">один топор;</li>
          <li class="page-section__list-item">три ножа. Они должны быть сертифицированы как хозяйственно-бытовые и быть безопасными: нескладная конструкция без щербин и неровностей, способных повредить руку при броске; толщина режущей кромки больше 1 мм;</li>
          <li class="page-section__list-item">от десяти мишеней, распечатанных на офисной бумаге и обычном принтере;</li>
          <li class="page-section__list-item">видеокамера с заряженной батареей и свободной картой памяти;</li>
          <li class="page-section__list-item">бумага и ручка для записи результатов;</li>
          <li class="page-section__list-item">кнопки для мишени;</li>
          <li class="page-section__list-item">рулетка, мел, маркер или бумажный скотч, чтобы замерить расстояние до мишени.</li>
        </ul>
        <div class="carousel">
          <div class="carousel__main-image">
            <div class="carousel__images">
              <img src="images/knife_1.png" class="carousel__image">
              <img src="images/knife_2.png" class="carousel__image">
              <img src="images/knife_3.png" class="carousel__image">
              <img src="images/knife_4.png" class="carousel__image">
              <img src="images/knife_5.png" class="carousel__image">
            </div>
          </div>
          <div class="carousel__menu">
            <button class="carousel__menu-button carousel__menu-button_active" onclick="setMainImage(1)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(2)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(3)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(4)"></button>
            <button class="carousel__menu-button" onclick="setMainImage(5)"></button>
          </div>
          <p class="carousel__caption">
            Примеры ножей и топоров
          </p>
        </div>
      </div>
      <div class="page-section__aside">
        <img src="images/target.svg" class="target-image" alt="Мишень">
        <a href="images/target_A4.pdf" class="target-link" target="_blank" download>
          Скачать мишень
        </a>
      </div>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Как метать <br>
        ножи и топоры <br>
        и записывать видео <br>
      </h3>
      <p class="page-section__text-block page-section__text-block_no-margin">
        Отметьте на полу линии на расстоянии 3, 4 и 5 м от стенда. Не заступайте за них при броске. Мишень для топора повесьте любым способом, а для ножей — так, чтобы на любой горизонтальной и вертикальной линии было до двух мишеней.
      </p>
      <div class="page-section-image page-section-image_double">
        <div class="page-section-image__left">
          <img src="images/wrong_placing.svg" class="page-section-image__image" alt="">
          <p class="page-section-image__caption">
            Неправильная расстановка мишеней.<br>
            На горизонтальных и вертикальных линиях<br>
            по три мишени
          </p>
        </div>
        <div class="page-section-image__right">
          <img src="images/right_placing.svg" class="page-section-image__image" alt="">
          <p class="page-section-image__caption">
            Правильная расстановка мишеней.<br>
            На горизонтальных и вертикальных линиях<br>
            по две мишени
          </p>
        </div>
      </div>
      <p class="page-section__text-block">
        Включите видеозапись и метайте в любой технике. На каждую дисциплину у вас есть по две пробные и десять зачётных серий. Пробные серии не учитываются при подсчёте результатов. Серия для топоров включает один бросок, на который вам отводится 30 секунд. Серия для ножей состоит из трёх бросков, на неё у вас одна минута.
      </p>
      <p class="page-section__text-block">
        Снимите по одному видео на каждую дисциплину, в которой участвуете. Сделайте запись единым дублем без монтажа. После серии бросков поднесите камеру к мишеням, чтобы в кадре было отчётливо видно, в какую зону попал топор или ножи. Если вы метаете на площадке клуба, клуб запишет единое видео на всех участников.
      </p>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Как оценить<br>
        свои результаты
      </h3>
      <p class="page-section__text-block">
        За бросок начисляется столько баллов, сколько указано на мишени, куда попал топор или нож. Если топор или нож попал на границу зачётных зон или перекрывает несколько из них, ориентируйтесь на зону с наибольшим баллом. Если топор или нож упал на пол до окончания серии, воткнулся в мишень не режущей кромкой или остриём, то при подсчёте он не учитывается.
      </p>
      <p class="page-section__text-block">
        Заступив за линию броска, вы теряете баллы за самый результативный бросок серии либо 20 баллов от общего результата, если не попадёте ни в одну мишень в серии.
      </p>
      <p class="page-section__text-block">
        Если вы участвуете на площадке клуба, клуб назначает судей, которые следят за соревнованием и фиксируют баллы. Судьи могу снять дополнительные баллы за несоблюдение правил площадки.
      </p>
    </div>

    <div class="page-section page-section_no-margin">
      <h3 class="page-section__title">
        Как отправить<br>
        результаты
      </h3>
      <p class="page-section__text-block page-section__text-block_no-margin">
        Отправьте результаты с 00:00 20 мая до 23:59 2 июня по Москве. Заполните личные данные, введите результаты бросков и добавьте ссылку на видео. Видео можно загрузить на любой сервис, например, <a href="https://disk.yandex.ru/client/disk" target="_blank">Яндекс.Диск</a>, <a href="https://drive.google.com" target="_blank">Гугл Диск</a> или <a href="https://www.youtube.com/" target="_blank">Ютуб</a>.
      </p>
    </div>

    <div class="page-cta-block">
      <div class="page-cta-block__content">
        <button class="page-cta-block__button">Участвовать в турнире</button>
        <img src="images/dates_rules_i.svg" class="page-cta-block__dates">
      </div>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Как узнать<br>
        победителей
      </h3>
      <p class="page-section__text-block">
        Через неделю после этапа мы определим победителей по числу баллов среди мужчин и женщин. В ножах призёры распределятся отдельно по дистанциям в 3, 4 и 5 м и лигам среди профессионалов, любителей и новичков. Лиги формируются по сумме баллов за все ножевые дистанции:
        <ul class="page-section__list">
          <li class="page-section__list-item">Лига чемпионов — от 1200 баллов,</li>
          <li class="page-section__list-item">Общая лига — от 900 до 1200 баллов,</li>
          <li class="page-section__list-item">Первая лига — до 900 баллов.</li>
        </ul>
      </p>
      <p class="page-section__text-block">
        В конце года выиграют те, кто наберёт больше всего баллов по итогам трёх самых результативных этапов.
      </p>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Как узнать<br>
        победителей<br>
        среди клубов
      </h3>
      <p class="page-section__text-block page-section__text-block_no-margin">
        Клубы соревнуюся между собой по числу своих членов, которые заняли призовые места. В каждом этапе призёры турнира приносят баллы своим клубам в зависимости от занятого места, дисциплины и лиги:
      </p>
      <div class="page-section__table">
        <div class="page-section__table-row page-section__table-row_first">
          <div class="page-section__table-cell page-section__table-cell_first-col"></div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            1 место
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            2 место
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            3 место
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_second">
          <div class="page-section__table-cell page-section__table-cell_first-col">
            <b>Топоры</b>
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">9</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">8</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">7</span> <span class="table-small">баллов</span>
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_third">
          <div class="page-section__table-cell page-section__table-cell_first-col">
            <b>Ножи</b><br>Лига чемпионов
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">7</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">6</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">5</span> <span class="table-small">баллов</span>
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_fourth">
          <div class="page-section__table-cell page-section__table-cell_first-col">
            Общая лига
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">5</span> <span class="table-small">баллов</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">4</span> <span class="table-small">балла</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">3</span> <span class="table-small">балла</span>
          </div>
        </div>
        <div class="page-section__table-row page-section__table-row_fifth">
          <div class="page-section__table-cell page-section__table-cell_first-col">
            Первая лига
          </div>
          <div class="page-section__table-cell page-section__table-cell_second-col">
            <span class="table-big">3</span> <span class="table-small">балла</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_third-col">
            <span class="table-big">2</span> <span class="table-small">балла</span>
          </div>
          <div class="page-section__table-cell page-section__table-cell_fourth-col">
            <span class="table-big">1</span> <span class="table-small">балл</span>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Техника<br>
        безопасности
      </h3>
      <p class="page-section__text-block">
        Метайте, если между вами и стендом нет людей и животных. Запрещено имитировать удары или броски в сторону от стенда и фехтовать ножами и топорами.
      </p>
      <p class="page-section__text-block">
        Если у стенда несколько метателей, собирайте ножи и топоры после бросков и фиксируйте результаты только после того, как все закончат метать. Доводите и точите ножи и топоры также вне зоны метания.
      </p>
      <p class="page-section__text-block">
        Не ловите, не отбивайте и не пытайтесь остановить срикошетивший нож или топор. После участия уберите ножи и топоры из открытого доступа.
        </p>
    </div>

    <div class="page-section">
      <h3 class="page-section__title">
        Обработка<br>
        персональных<br>
        данных
      </h3>

      <p class="page-section__text-block">
        Отправляя результаты бросков, вы предоставляете «‎Метательным практикам» и первичному отделению ДОСААФ «Клубу метания ножей „Злая Пчела“» свои персональные данные: фамилию, имя, пол, страну, клуб, электронную почту и видеозапись с вашим участием.
      </p>
      <p class="page-section__text-block">
        Вы даёте согласие на автоматизированную, неавтоматизированную и смешанную обработку персональных данных. Обработка данных включает сбор, систематизацию, накопление, хранение, уточнение, использование, обезличивание, блокирование и уничтожение персональных данных и иной информации, которую вы или ваш представитель сообщили для участия в онлайн-турнире метателей топоров и ножей и для получения рассылки.
      </p>
      <p class="page-section__text-block">
        Согласие действует бессрочно. Если вы захотите его отозвать, направьте нам письменное заявление.
      </p>
      <p class="page-section__text-block">
        Вы также соглашаетесь получать рассылку о турнире. Мы напомним вам о новых этапах, расскажем о победителях и новостях турнира. Вы можете отписаться от неё в любой момент по ссылке в письме.
      </p>
    </div>
  </main>
  <footer>
    <div class="footer-content">
      <p class="footer-phone">
        +7 985 368-83-85
      </p>
      <a href="mailto:knifethrowing@yandex.ru" class="footer-email">
        knifethrowing@yandex.ru
      </a>
    </div>
  </footer>