@font-face {
    font-family: 'Pitcrew';
    src: url('../fonts/Pitcrew-Regular.eot');
    src: local('Pitcrew Regular'), local('Pitcrew-Regular'),
        url('../fonts/Pitcrew-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pitcrew-Regular.woff2') format('woff2'),
        url('../fonts/Pitcrew-Regular.woff') format('woff'),
        url('../fonts/Pitcrew-Regular.ttf') format('truetype'),
        url('../fonts/Pitcrew-Regular.svg#Pitcrew-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-ExtraLight.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-BlackItalic.eot');
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url('../fonts/../fonts/../fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-BlackItalic.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-BlackItalic.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-LightItalic.eot');
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
        url('../fonts/../fonts/../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-LightItalic.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-LightItalic.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/../fonts/../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-Black.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('../fonts/../fonts/../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-Black.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-Black.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/../fonts/../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-ExtraBoldItalic.eot');
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url('../fonts/../fonts/../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('../fonts/../fonts/../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../fonts/../fonts/../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-MediumItalic.eot');
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
        url('../fonts/../fonts/../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-MediumItalic.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-MediumItalic.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-ExtraLightItalic.eot');
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-ThinItalic.eot');
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url('../fonts/../fonts/../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-ThinItalic.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-BoldItalic.eot');
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('../fonts/../fonts/../fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-BoldItalic.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-BoldItalic.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/../fonts/../fonts/Montserrat-Italic.eot');
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('../fonts/../fonts/../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/../fonts/../fonts/Montserrat-Italic.woff') format('woff'),
        url('../fonts/../fonts/../fonts/Montserrat-Italic.ttf') format('truetype'),
        url('../fonts/../fonts/../fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Medium.eot');
	src: local('HelveticaNeueCyr-Medium'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Heavy.eot');
	src: local('HelveticaNeueCyr-Heavy'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-HeavyItalic.eot');
	src: local('HelveticaNeueCyr-HeavyItalic'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Black.eot');
	src: local('HelveticaNeueCyr-Black'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-UltraLightItalic.eot');
	src: local('HelveticaNeueCyr-UltraLightItalic'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-BlackItalic.eot');
	src: local('HelveticaNeueCyr-BlackItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-ThinItalic.eot');
	src: local('HelveticaNeueCyr-ThinItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-MediumItalic.eot');
	src: local('HelveticaNeueCyr-MediumItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-LightItalic.eot');
	src: local('HelveticaNeueCyr-LightItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-UltraLight.eot');
	src: local('HelveticaNeueCyr-UltraLight'),
		url('../fonts/../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-BoldItalic.eot');
	src: local('HelveticaNeueCyr-BoldItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Italic.eot');
	src: local('HelveticaNeueCyr-Italic'),
		url('../fonts/../fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr-Roman'),
		url('../fonts/../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
		url('../fonts/../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Light.eot');
	src: local('HelveticaNeueCyr-Light'),
		url('../fonts/../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Thin.eot');
	src: local('HelveticaNeueCyr-Thin'),
		url('../fonts/../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
