@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap&subset=cyrillic,cyrillic-ext');

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Medium.eot');
	src: local('HelveticaNeueCyr-Medium'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Heavy.eot');
	src: local('HelveticaNeueCyr-Heavy'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-HeavyItalic.eot');
	src: local('HelveticaNeueCyr-HeavyItalic'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Black.eot');
	src: local('HelveticaNeueCyr-Black'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/../fonts/HelveticaNeueCyr-UltraLightItalic.eot');
	src: local('HelveticaNeueCyr-UltraLightItalic'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
		url('../fonts/../fonts/../fonts/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-BlackItalic.eot');
	src: local('HelveticaNeueCyr-BlackItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-ThinItalic.eot');
	src: local('HelveticaNeueCyr-ThinItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-MediumItalic.eot');
	src: local('HelveticaNeueCyr-MediumItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-LightItalic.eot');
	src: local('HelveticaNeueCyr-LightItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-UltraLight.eot');
	src: local('HelveticaNeueCyr-UltraLight'),
		url('../fonts/../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-BoldItalic.eot');
	src: local('HelveticaNeueCyr-BoldItalic'),
		url('../fonts/../fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Italic.eot');
	src: local('HelveticaNeueCyr-Italic'),
		url('../fonts/../fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr-Roman'),
		url('../fonts/../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
		url('../fonts/../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Light.eot');
	src: local('HelveticaNeueCyr-Light'),
		url('../fonts/../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/../fonts/HelveticaNeueCyr-Thin.eot');
	src: local('HelveticaNeueCyr-Thin'),
		url('../fonts/../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
		url('../fonts/../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
