@media (max-width: 414px) {
  html{
    margin: 0;
    padding: 0;
  }
  body {
    margin:0;
    padding:0;
  }
  .browser{
    width:100%;
  }
  .main {
    width:100vw;
  }

  .black_floor{
    background-color: #000;
    color: #fff;
    padding-left: 2vw;
  }

  .white_floor{
    background-color: #fff;
    color: #000;
    padding-left: 2vw;
  }


  .info_block_margin_bottom{
    padding-bottom: 20vw;
  }

  .logo {
    font-size: 8vw;
    line-height: 6.3vw;
    margin: 8vw 0 0;
    width: 50%;
    font-weight: 800;
  }

  .rules_head{
    display: none;
  }
  .rules_head_mobile{
    font:normal normal 21vw/17vw 'Pitcrew';
    margin-left: -0.4vw;
    margin: 24vw 0 10vw;
    display: block;
  }

  h2{
    font:normal 800 10vw/8vw 'Montserrat';
    padding-top:4vw;
    margin-bottom: 6vw;
    margin-left: -0.5vw;
  }

  .text_block{
    padding-right: 6vw;
    width:98vw;
    margin-left: 0vw;
    height: auto;
  }

  .lead_rules_text{
    font:normal normal 5vw/7.2vw 'Montserrat';
  }

  .main_rules_text{
    font:normal normal 4.5vw/6.5vw 'Montserrat';
  }

  .white_text{
    color: #fff;
  }

  .black_text{
    color: #000;
  }

  .target__aside{
    position: relative;
    top:0;
    left: 0;
    margin-bottom: 6vw;
  }

  .target-image {
    width: 50vw;
    margin: 0.6vw 0 1vw 0;
  }

   .target-link {
    display: block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #ffc100;
    width: 50vw;
    font-weight: 800;
    font-size: 4.5vw;
    line-height: 11vw;
  }

  .target-link:hover {
    background-color: #FFCB2B;
  }
  .target-link:visited {
    color: #000;
    background-color: #ffc100;
  }

  .carousel {
      width: 96vw;
      margin: 2.7vw 0 0 0vw;
    }
    .carousel__main-image {
      width: 100%;
      height: 67.9vw;
      overflow: hidden;
      position: relative;
    }

    .carousel__images {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .carousel__image {
      display: block;
      width: 96vw;
      height: 67.9vw;
    }

    .carousel__menu {
      width: 100%;
      background-color: #000;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin-bottom: 0.9vw;
    }

    .carousel__menu-button {
      display: block;
      box-sizing: border-box;
      width: 20%;
      height: 14vw;
      border: none;
      background-color: #fff;
      background-size: cover;
      outline: none;
      cursor: pointer;
    }

    .carousel__menu-button_active {
      position: relative;
    }

    .carousel__menu-button_active:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      top: 0;
      left: 0;
      width: 100%;
      height: 14vw;
      border: 2px solid #FFBE00;
    }
    .carousel__menu-button:nth-child(1) {
      background-image: url(/images/knife_1.png);
      background-repeat: no-repeat;
    }
    .carousel__menu-button:nth-child(2) {
      background-image: url(/images/knife_2.png);
      background-repeat: no-repeat;
    }
    .carousel__menu-button:nth-child(3) {
      background-image: url(/images/knife_3.png);
      background-repeat: no-repeat;
    }
    .carousel__menu-button:nth-child(4) {
      background-image: url(/images/knife_4.png);
      background-repeat: no-repeat;
    }
    .carousel__menu-button:nth-child(5) {
      background-image: url(/images/knife_5.png);
      background-repeat: no-repeat;
    }

    .carousel__caption {
      margin: 0;
      font-size: 3.5vw;
      line-height: 4.5vw;
    }

  .page-section-image_double{
    margin: 3vw 0 5.3vw 0vw;
  }
  .div_flex_option{
    display: block;
  }

  .first_image{
    width:90vw;
    margin-right: 0vw;
  }
  .first_image img{
    width:100%;
  }
  .second_image{
    width:95vw;
    margin-bottom: 8vw;
  }
  .second_image img{
    width:100%;
  }

  .page-section-image__caption {
    margin: 0;
    font-size: 4.5vw;
    line-height: 6.5vw;
    display: none;
  }

  .page-section-image__caption_mobile{
    margin: 0;
    font-size: 3.5vw;
    line-height: 4.5vw;
    display: block;
  }
  .page-section-image__caption_mobile_margin{
    margin-bottom: 7vw;
  }

  .page-section-image__caption span{
    display: block;
  }

  .img_misheni{
    margin-left: -23vw;
  }

  .img_dates{
    width:87vw;
    margin-top: 6vw;
  }

  .page-section__list {
    margin: 0.2vw 0 0 0;
    padding: 0;
    list-style-type: none;
  }

  .page-section__list-item {
    padding: 0 0 0 2.3vw;
    margin: 0 0 0.8vw 0;
    font-size: 4.5vw;
    line-height: 6.5vw;
  }

  .text_block_no-margin {
    margin-bottom: 0;
  }


  .page-section__table {
      width: 94vw;
      font-size: 4.5vw;
      line-height: 5.4vw;
      margin: 2.4vw 0 0 0;
    }

    .page-section__table-row {
      display: flex;
      justify-content: flex-start;
    }
    
    .page-section__table-cell {
      width: 9.5vw;
    }

    .block{
      display: inline;
    }
    .inline{
      display: block;
    }

    .page-section__table-row_first-cell{
      padding-top:0.7vw;
    }
    
    .page-section__table-cell_first-col {
      width: 37vw;
    }
    
    .page-section__table-cell_second-col {
      width: 23vw;
    }
    
    .page-section__table-cell_third-col {
      width: 23vw;
    }
    
    .page-section__table-cell_fourth-col {
      width: 23vw;
    }
    
    .page-section__table-cell_first-col_padding{
      padding-top:1vw;
    }

    .page-section__table-row_first {
      border-bottom: 1px solid #000;
      font-weight: 600;
      padding-bottom: 0.2vw;
      margin-bottom: 2.3vw;
    }
    
    .page-section__table-row_second {
      margin-bottom: 1.9vw;
    }
    
    .page-section__table-row_third {
      margin-bottom: 2.6vw;
    }
    
    .page-section__table-row_third .page-section__table-cell:not(.page-section__table-cell_first-col) {
      padding-top: 9.1vw;
    }
    
    .page-section__table-row_fourth {
      margin-bottom: 2.7vw;
    }
    
    .page-section__table-row_fourth .page-section__table-cell:not(.page-section__table-cell_first-col) {
      margin-top: -0.6vw;
    }
    
    .page-section__table-row_fifth .page-section__table-cell:not(.page-section__table-cell_first-col) {
      margin-top: -0.6vw;
    }
    
    .table-big {
      font-size: 9.9vw;
    }
    
    .table-small {
      font-size: 2.6vw;
    }
     h1 span{
      font-family: 'Montserrat';
      font-weight: 800;
      display: inline;
     }
    
    footer {
      padding: 14vw 0 3vw 0;
      margin-bottom: 0vw;
      font: normal normal 4vw/5vw 'Montserrat';
      background-color: #fff;
    }
    
    .footer-content {
      /* width: 98vw; */
      margin: 0;
    }
    
    .footer-phone {
      text-decoration: none;
      margin: 0 0 0.1vw 0;
    }
    
    .footer-email {
      margin: 0;
      text-decoration: none;
      border: 0;
      color: rgb(0, 91, 190);
      border-bottom: 1px solid rgba(0, 91, 190, .3);
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box;
      transition: all 100ms linear;
    }
    
    .footer-email:visited {
      text-decoration: none;
      border: 0;
      color: rgb(0, 91, 190);
      border-bottom: 1px solid rgba(0, 91, 190, .3);
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box;
    }
    
    .footer-email:hover {
      text-decoration: none;
      border: 0;
      color: rgb(0, 91, 190);
      border-bottom: 1px solid rgba(0, 91, 190, 1);
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box;
      transition:all 10ms linear;
    }

     .page-cta-block__button {
      padding:0;
      width: 87vw;
      height: 11vw;
      font-weight: 900;
      font-size: 4.5vw;
      line-height: 3.5vw;
      margin-left: 0vw;
      margin-top: 5vw;
    }
    
    .page-cta-block__button:hover {
      background-color: #FFCB2B;
    }

    .button_link{
      text-decoration: none;
      border: 0;
      color:#000;
      transition:all 100ms linear;
    }
    
    .button_link:hover{
      text-decoration: none;
      border: 0;
      color:#000;
      transition:all 10ms linear;
    }
    
    .button_link:visited{
      text-decoration: none;
      border: 0;
      color:#000;
    }
}