@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800,900&display=swap&subset=cyrillic,cyrillic-ext');

.results-block {
  padding: 4vw 0 14vw;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.results-title-image {
  margin-bottom: 2.8vw;
  width: calc(100% - 0.4vw);
  margin-left: 0.1vw;
}

.results-section_axes {
  margin-bottom: 5.5vw;
}

.results-section__header {
  margin-bottom: 2.8vw;
  display: flex;
  justify-content: space-between;
}

.results-section__buttons {
  display: flex;
  height: 3.3vw;
  margin-top: 2vw;
}

.results-section__button {
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 2vw;
  height: 3.3vw;
  border: none;
  padding: 0 3vw;
  cursor: pointer;
}

.results-section__button:nth-child(2) {
  border-left: 0.2vw solid #000;
  border-right: 0.2vw solid #000;
}

.results-section__button_active {
  background: linear-gradient(0deg, #FFBE00, #FFBE00), #EBEBEB;
}

.results-section__title {
  font-size: 6vw;
  line-height: 6.6vw;
  font-weight: 800;
}

.results-section_knives {
  margin-bottom: 0.9vw;
}

.results-section_knives .results-section__title {
  position: relative;
  left: -0.3vw;
}

.results-section_knives .results-section__row {
  margin-bottom: 2.7vw;
}

.results-section_knives .results-section__row:last-child {
  margin-bottom: 0;
}

.results-section__row-title {
  font-size: 2.2vw;
  line-height: 3.4vw;
  font-weight: 800;
}

.results-section__row-content {
  padding-left: 0.4vw;
  display: flex;
  justify-content: space-between;
}

.results-section__col {
  width: 43vw;
}

.results-section__row:first-child .results-section__col:first-child {
  background-image: url(/images/icon_female.svg);
  background-repeat: no-repeat;
  background-size: 11.4vw 20.7vw;
  background-position: top 0.5vw right 7vw;
}

.results-section__row:first-child .results-section__col:last-child {
  background-image: url(/images/icon_male.svg);
  background-repeat: no-repeat;
  background-size: 17vw 17.8vw;
  background-position: top 2.1vw right 8.1vw;
}

.results-item {
  display: flex;
  font-size: 2.5vw;
  line-height: 2.9vw;
  font-weight: 500;
  margin-bottom: 1.6vw;
}

.results-item__place {
  width: 3vw;
  font-size: 3vw;
}

.results-item__name-team {
  width: calc(100% - 8.5vw);
  padding-left: 0.3vw;
}

.results-item__name {
  font-size: 2.5vw;
  line-height: 3.3vw;
}

.results-item__team {
  font-weight: 300;
}

.results-item__flag {
  margin-left: 1.1vw;
  position: relative;
  top: 0.3vw;
  width: 2.6vw;
}

.results-item__score {
  width: 5.5vw;
  text-align: right;
}

.results-all-link {
  display: inline-block;
  font-weight: 500;
  font-size: 2.2vw;
  line-height: 2.8vw;
  text-decoration: none;
  color: #ffc100;
  transition:all 100ms linear;
  margin-left: 0.1vw;
  margin-bottom: 19.2vw;
}

.results-all-link:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0ms linear;
}

.results-all-link__icon {
  fill: #ffc100;
  width: 2.2vw;
  height: 2.3vw;
}

.results-footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.6vw;
  line-height: 2vw;
  letter-spacing: -0.02vw;
}

.results-footer a {
  color: #ffc100;
  transition: all 100ms linear;
  font-size: 1.6vw;
  line-height: 2vw;
  letter-spacing: -0.02vw;
}

.results-footer a:hover {
  color: #fff;
  transition: all 100ms linear;
}

.results-footer__school {
  padding-top: 1.9vw;
}

@media (min-width: 1200px) {
  .results-block {
    padding: 48px 0 168px;
  }
  
  .results-title-image {
    margin-bottom: 33.6px;
    width: calc(100% - 4.8px);
    margin-left: 1.2px;
  }
  
  .results-section_axes {
    margin-bottom: 66px;
  }
  
  .results-section__header {
    margin-bottom: 33.6px;
  }
  
  .results-section__buttons {
    height: 39.6px;
    margin-top: 24px;
  }
  
  .results-section__button {
    font-size: 18vpx;
    line-height: 24px;
    height: 39.6px;
    padding: 0 36px;
  }
  
  .results-section__button:nth-child(2) {
    border-left: 2.4px solid #000;
    border-right: 2.4px solid #000;
  }
  
  .results-section__title {
    font-size: 72px;
    line-height: 79.2px;
  }
  
  .results-section_knives {
    margin-bottom: 10.8px;
  }
  
  .results-section_knives .results-section__title {
    position: relative;
    left: -3.6px;
  }

  .results-section_knives .results-section__row {
    margin-bottom: 32.4px;
  }

  .results-section__row-title {
    font-size: 26.4px;
    line-height: 40.8px;
  }
  
  .results-section__row-content {
    padding-left: 4.8px;
  }
  
  .results-section__col {
    width: 516px;
  }
  
  .results-section__row:first-child .results-section__col:first-child {
    background-size: 136.8px 248.4px;
    background-position: top 6px right 84px;
  }
  
  .results-section__row:first-child .results-section__col:last-child {
    background-size: 204px 213.6px;
    background-position: top 25.2px right 97.2px;
  }
  
  .results-item {
    font-size: 30px;
    line-height: 34.8px;
    margin-bottom: 19.2px;
  }
  
  .results-item__place {
    width: 36px;
    font-size: 36px;
  }
  
  .results-item__name-team {
    width: calc(100% - 102px);
    padding-left: 3.6px;
  }
  
  .results-item__name {
    font-size: 30px;
    line-height: 39.6px;
  }
  
  .results-item__flag {
    margin-left: 13.2px;
    top: 3.6px;
    width: 31.2px;
  }
  
  .results-item__score {
    width: 66px;
  }
  
  .results-all-link {
    font-size: 26.4px;
    line-height: 33.6px;
    margin-left: 1.2px;
    margin-bottom: 230.4px;
  }
  
  .results-all-link__icon {
    width: 26.4px;
    height: 27.6px;
  }
  
  .results-footer {
    font-size: 19.2px;
    line-height: 24px;
    letter-spacing: -0.24px;
  }

  .results-footer a {
    font-size: 19.2px;
    line-height: 24px;
    letter-spacing: -0.24px;
  }
  
  .results-footer__school {
    padding-top: 22.8px;
  }
}

@media (max-width: 414px) {
  .results-block {
    padding: 4vw 0 14vw;
    font-family: 'Montserrat', Helvetica, sans-serif;
  }
  
  .results-title-image {
    margin-bottom: 8.8vw;
    width: calc(100% - 0.4vw);
    margin-left: 0.1vw;
  }
  
  .results-section_axes {
    margin-bottom: 13.5vw;
  }
  
  .results-section__header {
    margin-bottom: 3.5vw;
    display: block;
  }
  
  .results-section__buttons {
    display: flex;
    height: 6.667vw;
    margin-bottom: 6vw;
  }
  
  .results-section__button {
    display: block;
    font-weight: 500;
    font-size: 2.667vw;
    line-height: 2vw;
    width: 32%;
    height: 6.667vw;
    border: none;
    cursor: pointer;
    background-color: #ebebeb;
  }
  
  .results-section__button:nth-child(2) {
    border-left: 0.533vw solid #000;
    border-right: 0.533vw solid #000;
  }
  
  .results-section__button_active {
    background: linear-gradient(0deg, #FFBE00, #FFBE00), #EBEBEB;
  }
  
  .results-section__title {
    font-size: 8vw;
    line-height: 7.467vw;
    font-weight: 800;
  }
  
  .results-section_knives {
    margin-bottom: 0.9vw;
  }
  
  .results-section_knives .results-section__title {
    position: relative;
    left: -0.3vw;
    margin-bottom: 4.7vw;
  }
  
  .results-section_knives .results-section__row {
    margin-bottom: 2.7vw;
  }
  
  .results-section_knives .results-section__row:last-child {
    margin-bottom: 0;
  }
  
  .results-section__row-title {
    font-size: 5.333vw;
    line-height: 6.133vw;
    font-weight: 800;
  }
  
  .results-section__row-content {
    display: block;
  }
  
  .results-section__col {
    width: 100%;
    margin-bottom: 7.8vw;
  }
  
  .results-section__row:first-child .results-section__col:first-child {
    background-image: url(/images/icon_female.svg);
    background-repeat: no-repeat;
    background-size: 24vw 43.733vw;
    background-position: top -0.5vw right 26.5vw;
  }
  
  .results-section__row:first-child .results-section__col:last-child {
    background-image: url(/images/icon_male.svg);
    background-repeat: no-repeat;
    background-size: 41.6vw 43.733vw;
    background-position: top 3.1vw right 19.1vw;
  }

  .results-section__row .results-section__col:first-child {
    background-image: url(/images/icon_female.svg);
    background-repeat: no-repeat;
    background-size: 24vw 43.733vw;
    background-position: top -0.5vw right 26.5vw;
  }
  
  .results-section__row .results-section__col:last-child {
    background-image: url(/images/icon_male.svg);
    background-repeat: no-repeat;
    background-size: 41.6vw 43.733vw;
    background-position: top 3.1vw right 19.1vw;
  }
  
  .results-item {
    display: flex;
    font-size: 2.5vw;
    line-height: 2.9vw;
    font-weight: 500;
    margin-bottom: 2.7vw;
  }
  
  .results-item__place {
    width: 6vw;
    line-height: 8vw;
    font-size: 8vw;
  }
  
  .results-item__name-team {
    width: calc(100% - 18.667vw);
    padding-left: 0.3vw;
  }
  
  .results-item__name {
    font-size: 5.333vw;
    line-height: 10.133vw;
  }
  
  .results-item__team {
    font-size: 5.333vw;
    line-height: 5.333vw;
    font-weight: 300;
  }
  
  .results-item__flag {
    margin-left: 2.8vw;
    position: relative;
    top: -0.1vw;
    width: 4.7vw;
  }
  
  .results-item__score {
    width: 9.667vw;
    font-size: 5.867vw;
    line-height: 9.867vw;
  }
  
  .results-all-link {
    display: inline-block;
    font-weight: 500;
    font-size: 5.333vw;
    line-height: 5.6vw;
    text-decoration: none;
    color: #ffc100;
    transition:all 100ms linear;
    margin-left: 0.1vw;
    margin-bottom: 38.933vw;
  }
  
  .results-all-link:hover {
    text-decoration: none;
    color: #fff;
    transition: all 0ms linear;
  }
  
  .results-all-link__icon {
    fill: #ffc100;
    width: 5.333vw;
    height: 5.6vw;
  }
  
  .results-footer {
    display: block;
    font-size: 3.733vw;
    line-height: 5.333vw;
  }
  
  .results-footer a {
    color: #ffc100;
    transition: all 100ms linear;
    font-size: 3.733vw;
    line-height: 5.333vw;
  }
  
  .results-footer a:hover {
    color: #fff;
    transition: all 100ms linear;
  }
  
  .results-footer__contacts {
    margin-bottom: 5.333vw;
  }

  .results-footer__school {
    padding: 0;
  }
}