.img_dates_display_none{
  display: none;
}

.hat_results{
  /* !!! другое значение для index.hbs */
  height:82vw;
}

.div-form_results{
  /* !!! другое значение для index.hbs */
  height:11vw;
}

.content_text_desktop{
  display:block;
}
.content_text_mobile{
  display: none;
}

.link_box_results{
  margin-top: 4vw;
  font-size: 2.3vw;
  font-family: 'Montserrat';
}

/*** **************** ***/

.results-title{
  font:normal normal 12vw/10vw 'Pitcrew';
  margin-bottom: 5vw; 
  margin-left: -0.5vw;
}
/* .results-title span{
  
} */

.results-block {
  margin-left:1vw;
  margin-right:1vw;
  padding: 9.2vw 0 0;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.results-title-image {
  margin-bottom: 2.8vw;
  width: calc(100% - 0.4vw);
  margin-left: 0.1vw;
}

.results-section_axes {
  margin-bottom: 5.5vw;
}

.results-section__header {
  margin-bottom: 2.8vw;
  display: flex;
  justify-content: space-between;;
}

.results-section__header:nth-child(1){
  width: 77vw;
}
.results-section__buttons {
  display: flex;
  height: 3.3vw;
  margin-top: 2.2vw;
  margin-left: 1vw;
}

.results-section__button {
  font: normal 400 1.6vw/3.2vw 'Montserrat';
  height: 3.4vw;
  border: none;
  padding: 0 1.8vw;
  /* padding: 0 2.7vw 0 2.5vw; */
  cursor: pointer;
  background:white;
  /* transform: skewX(-40deg); */
}

/* .p_unskew{
  transform: skew(40deg);
} */

.results-section__button:hover{

  background: rgb(250, 233, 157);
  /* background: linear-gradient(180deg, #FFBE00 25%, #FFFFFF 100%); */
}

.results-section__button:nth-child(2) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.results-section__button_active {
  background: rgb(255, 193, 0);
  cursor: default;
}
.results-section__button_active:hover {
  background: #ffc100;
  cursor: default;
}
.results-section__title {
  font-size: 6vw;
  line-height: 6.6vw;
  font-weight: 800;
}

.results-section_knives {
  margin-bottom: 0.9vw;
}

.results-section_knives .results-section__title {
  position: relative;
  left: -0.3vw;
}

.results-section_knives .results-section__row {
  margin-bottom: 2.7vw;
}

.results-section_knives .results-section__row:last-child {
  margin-bottom: 0;
}

.results-section__content_common,
.results-section__content_first {
  display: none;
}

.results-section__row-title {
  font-size: 2.3vw;
  line-height: 4vw;
  font-weight: 800;
}

.results-section__row-content {
  padding-left: 0vw;
  margin-left: -0.5vw;
  display: flex;
  justify-content: flex-start;
}

.gender_ico{
  width: 3vw;
  height: 3vw;
  margin-right: 1vw;
  margin-top:-0.1vw;
}

.ico_f{
  margin-top:0.9vw;
}

.results-section__col {
  width: 31.6vw;
}

.results-section__col:nth-child(2) {
  margin-right: 5.5vw;
}

/* .results-section__row:first-child .results-section__col:first-child {
  background-image: url(/images/icon_female.svg);
  background-repeat: no-repeat;
  background-size: 11.4vw 20.7vw;
  background-position: top 0.5vw left 0vw;
}

.results-section__row:first-child .results-section__col:last-child {
  background-image: url(/images/icon_male.svg);
  background-repeat: no-repeat;
  background-size: 17vw 17.8vw;
  background-position: top 2.1vw left 0vw;
} */

.results-item {
  display: flex;
  font-size: 2.2vw;
  line-height: 2.8vw;
  font-weight: 500;
  margin-bottom: 1.6vw;
}

.results-item__place {
  width: 2.3vw;
  font-size: 3vw;
}

.results-item__name-team:nth-child(1) {
  width: calc(100% - 9.1vw);
  padding-left: 0.3vw;
}

.results-item__name-team:nth-child(2){
  width: calc(100% - 7.5vw);
  padding-left: 0.3vw;
  margin-top: 0.3vw;
}

.results-item__name {
  font-size: 1.7vw;
  line-height: 2vw;
}

.results-item__team {
  font-weight: 300;
  font-size: 1.7vw;
  line-height: 2vw;
}

.results-item__flag {
  margin-left: 0.1vw;
  position: relative;
  top: 0.2vw;
  width: 2vw;
}

.results-item__score {
  width: 4.1vw;
  text-align: right;
  margin-top: 1.1vw;
  font-size: 1.7vw;
  line-height: 2vw;
}
svg{
  fill:currentColor;
}

.results-all-link {
  display: inline-block;
  font-weight: 500;
  font-size: 2.2vw;
  line-height: 2.8vw;
  text-decoration: none;
  color: #ffc100;
  transition:all 100ms linear;
  margin-left: 0.1vw;
  /* margin-bottom: 19.2vw; */
}

.results-all-link:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0ms linear;
}

.results-all-link__icon {
  fill: #ffc100;
  margin-top: 0.2vw;
  margin-right: 0.3vw;
  width: 2.2vw;
  height: 2.3vw;
}

.results-footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.6vw;
  line-height: 2vw;
  letter-spacing: -0.02vw;
}

.results-footer a {
  color: #ffc100;
  transition: all 100ms linear;
  font-size: 1.6vw;
  line-height: 2vw;
  letter-spacing: -0.02vw;
}

.results-footer a:hover {
  color: #fff;
  transition: all 100ms linear;
}

.results-footer__school {
  padding-top: 1.9vw;
}

.video_wide{
  margin-top: 10vw;
  display:none;
} 
.video_normal{
  margin-top: 10vw;
  display: block;
} 
.video_mobile{
  margin-top: 10vw;
  display:none;
} 

.results-section__facts-floor_wrapper{
  overflow: visible; /*!@!@*/
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin:1vw 0vw 0 0vw;
}


.results-section__facts-first_floor_wrapper{
  background-image: url(../images/back_3_notransp.png);
  background-position:top 0 left -7.7vw;
  height:57.1vw;
}

.results-section__facts-second_floor_wrapper{
  margin-top: 17vw;
  background-image: url(../images/back_2_notransp.png);
  background-position:top 0 right -1.4vw;
  height:57.1vw;
}

.results-section__facts-third_floor_wrapper{
  background-image: url(../images/back_1_notransp.png);
  background-position:top 0 right -7.5vw;
  height:57.1vw;
}

.results-section__facts-floor_text{
  display: block;
  width:26%;
  height: auto;
  padding-top: 0vw; 
}

.results-section__facts-first_floor_text{
  padding-left: 1vw; 
}
.results-section__facts-second_floor_text{
  margin-left: 73.5%;
  padding-left: 0vw;
  padding-right: 0vw; 
}

.results-section__facts-head{
  font:normal 800 10.6vw/7.8vw 'Montserrat';
  margin-bottom: 0.5vw;
}

.factoid_text{
  font:normal 400 1.7vw/2.2vw 'Montserrat';
}

.results-section__facts-floor_img{
  display: block;
  width:73%;
  height: auto;
  overflow: visible; 
}

.results-section__facts-first_floor_img{
  overflow: visible;
  position:absolute;
  margin-top: -11vw;
  margin-left:24vw;
  height:95%;
  width:auto;
}

.results-section__facts-second_floor_img{
  overflow: visible;
  position:absolute;
  margin-top: -5vw;
  margin-left:-35vw;
  height:95%;
  width:auto;
}

.results-section__facts-third_floor_img{
  overflow: visible;
  position:absolute;
  margin-top: -4vw;
  margin-left:12vw;
  height:95%;
  width:auto;
}

@media (min-width: 1200px) {
  .img_dates_display_none{
    display: none;
  }
  .hat_results{
    /* !!! другое значение для index.hbs */
    height:984px
  }
  
  .div-form_results{
    /* !!! другое значение для index.hbs */
    height:132px
  }
  
  .link_box_results{
    margin-top: 48px;
    font-size: 28px;
  }

  /* .hat{
    height:960px !important;
  }

  .div-form{
    height:132px !important;
  } */

  .results-title{
    font:normal normal 144px/120px 'Pitcrew';
    margin-bottom: 72px; 
    margin-left: -6px;
  }

  .results-block {
    margin-left:12px;
    margin-right:12px;
    padding: 110px 0 0;
  }
  
  .results-title-image {
    margin-bottom: 33.6px;
    width: calc(100% - 4.8px);
    margin-left: 1.2px;
  }
  
  .results-section_axes {
    margin-bottom: 66px;
  }
  
  .results-section__header {
    margin-bottom: 33.6px;
  }
  .results-section__header:nth-child(1){
    width: 926px;
  }
  
  .results-section__buttons {
    height: 39.6px;
    margin-top: 26.4px;
    margin-left: 12px;
  }
  
  .results-section__button {
    font-size: 19px;
    line-height: 38px;
    height: 39.6px;
    padding: 0 22px;
  }
  
  .results-section__title {
    font-size: 72px;
    line-height: 79.2px;
  }
  
  .results-section_knives {
    margin-bottom: 10.8px;
  }
  
  .results-section_knives .results-section__title {
    position: relative;
    left: -3.6px;
  }

  .results-section_knives .results-section__row {
    margin-bottom: 32.4px;
  }

  .results-section__row-title {
    font-size: 27px;
    line-height: 48px;
  }
  
  .results-section__row-content {
    padding-left: 0px;
    margin-left: -6px;
  }
  
  .gender_ico{
    width: 36px;
    height: 36px;
    margin-right: 12px;
    margin-top: 1px;
  }
  
  .ico_f{
    margin-top: 12px;
  }

  .results-section__col {
    width: 380px;
  }

  .results-section__col:nth-child(2) {
    margin-right: 66px;
  }

  .results-section__row:first-child .results-section__col:first-child {
    background-size: 136.8px 248.4px;
    background-position: top 6px left 0px;
  }
  
  .results-section__row:first-child .results-section__col:last-child {
    background-size: 204px 213.6px;
    background-position: top 25.2px left 0px;
  }
  
  .results-item {
    font-size: 27.6px;
    line-height: 34.8px;
    margin-bottom: 19.2px;
  }
  
  .results-item__place {
    width: 27.6px;
    font-size: 36px;
  }
  
  .results-item__name-team:nth-child(1) {
    width: calc(100% - 110px);
    padding-left: 2.6px;
  }
  
  .results-item__name-team:nth-child(2){
    width: calc(100% - 90px);
    padding-left: 2.6px;
    margin-top: 4px;
  }

  .results-item__name {
    font-size: 20px;
    line-height: 24px;
  }

  .results-item__team {
    font-size: 20px;
    line-height: 24px;
  }
  
  .results-item__flag {
    margin-left: 1px;
    top: 2.4px;
    width: 24px;
  }
  
  .results-item__score {
    width: 49px;
    margin-top: 13px;
    font-size: 20px;
    line-height: 24px;
  }
  
  .results-all-link {
    font-size: 27px;
    line-height: 33px;
    margin-left: 1.2px;
    /* margin-bottom: 230.4px; */
  }
  
  .results-all-link__icon {
    width: 26.4px;
    height: 27.6px;
  }
  
  .results-footer {
    font-size: 19.2px;
    line-height: 24px;
    letter-spacing: -0.24px;
  }

  .results-footer a {
    font-size: 19.2px;
    line-height: 24px;
    letter-spacing: -0.24px;
  }
  
  .results-footer__school {
    padding-top: 22.8px;
  }

  .video_wide{
    margin-top: 80px;
    display:block;
  } 
  .video_normal{
    margin-top: 80px;
    display: none;
  } 
  .video_mobile{
    margin-top: 80px;
    display:none;
  } 

  .results-section__facts-floor_wrapper{
    margin:12px 0px 0 0px;
  }
  
  
  .results-section__facts-first_floor_wrapper{
    background-position:top 0 left -80px;
    height:685px;
  }
  
  .results-section__facts-second_floor_wrapper{
    margin-top: 204px;
    background-position:top 0 right 0px;
    height:685px;
  }
  
  .results-section__facts-third_floor_wrapper{
    background-position:top 0 right -74px;
    height:685px;
  }
  
  .results-section__facts-first_floor_text{
    padding-left: 12px; 
  }
  
  .results-section__facts-head{
    font-size: 127px;
    line-height: 94px;
    margin-bottom: 6px;
  }
  
  .factoid_text{
    font-size: 20px;
    line-height: 25px;
  }
  
  .results-section__facts-first_floor_img{
    margin-top: -132px;
    margin-left:264px;
  }
  
  .results-section__facts-second_floor_img{
    margin-top: -55px;
    margin-left:-385px;
  }
  
  .results-section__facts-third_floor_img{
    margin-top: -44px;
    margin-left:121px;
  }

}

@media (max-width: 414px) {
  .img_dates_display_none{
    display: none;
  }
  .results-block {
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 0vw 0 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
  }
  
  .results-title{
    font:normal normal 12.2vw/11vw 'Pitcrew';
    margin-bottom: 8vw; 
    margin-left: -0.5vw;
  }

  .results-title-image {
    margin-bottom: 8.8vw;
    width: calc(100% - 0.4vw);
    margin-left: 0.1vw;
  }
  
  .results-section_axes {
    margin-bottom: 13.5vw;
  }
  
  .results-section__header {
    margin-bottom: 2.5vw;
    display: block;
  }
  
  .results-section__buttons {
    display: flex;
    height: 6.67vw;
    margin-bottom: 7vw;
    margin-left: 0vw;
  }
  
  .results-section__button {
    display: block;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 3.7vw;
    line-height: 9.8vw;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: 9.2vw;
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 0px 2.4vw;
  }
  
  .results-section__button:hover{
    background-color: #ffd453;
  }
  .results-section__button:nth-child(2) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  
  .results-section__button_active {
    background: linear-gradient(0deg, #ffc100, #ffc100), white;
    cursor: default;
  }
  
  .results-section__title {
    font-size: 8vw;
    line-height: 7.467vw;
    font-weight: 800;
  }
  
  .results-section_knives {
    margin-bottom: 0.9vw;
  }
  
  .results-section_knives .results-section__title {
    position: relative;
    left: -0.3vw;
    margin-bottom: 2vw;
  }
  
  .results-section_knives .results-section__row {
    margin-bottom: 2.7vw;
  }
  
  .results-section_knives .results-section__row:last-child {
    margin-bottom: 0;
  }
  
  .results-section__row-title {
    font-size: 5.56vw;
    line-height: 6.13vw;
    font-weight: 800;
  }
  
  .results-section__row-content {
    display: block;
  }
  
  .results-section__col {
    width: 100%;
    margin-bottom: 7.8vw;
  }
  
  .section__col:nth-child(2) {
    margin-right: 0;
}

.gender_ico{
  width: 7vw;
  height: 8vw;
  margin-right: 1vw;
  margin-top:-0.1vw;
}

.ico_f{
  width: 4vw;
  height: 8vw;
  margin-top:0.2vw;
}

  /* .results-section__row:first-child .results-section__col:first-child {
    background-image: url(/images/icon_female.svg);
    background-repeat: no-repeat;
    background-size: 23.9vw 43.6vw;
    background-position: top -0.1vw right 26.5vw;
  }
  
  .results-section__row:first-child .results-section__col:last-child {
    background-image: url(/images/icon_male.svg);
    background-repeat: no-repeat;
    background-size: 37.3vw 41.4vw;
    background-position: top 3.1vw right 19.1vw;
  }

  .results-section__row .results-section__col:first-child {
    background-image: url(/images/icon_female.svg);
    background-repeat: no-repeat;
    background-size: 23.9vw 43.6vw;
    background-position: top -0.1vw right 26.5vw;
  }
  
  .results-section__row .results-section__col:last-child {
    background-image: url(/images/icon_male.svg);
    background-repeat: no-repeat;
    background-size: 37.3vw 41.4vw;
    background-position: top 3.1vw right 19.1vw;
  } */
  
  .results-item {
    display: flex;
    font-size: 2.2vw;
    line-height: 2.9vw;
    font-weight: 500;
    margin-bottom: 2.7vw;
  }
  
  .results-item__place {
    width: 6vw;
    line-height: 8vw;
    font-size: 8vw;
  }
  
  .results-item__name-team:nth-child(2) {
    width: calc(100% - 16.5vw);
    padding-left: 0.3vw;
  }
  .results-item__name-team {
    width: calc(100% - 16.5vw);
    padding-left: 0.3vw;
  }
  
  .results-item__name {
    font-size: 5.33vw;
    line-height: 10.13vw;
  }
  
  .results-item__team {
    font-size: 5.333vw;
    line-height: 5.333vw;
    font-weight: 300;
  }
  
  .results-item__flag {
    margin-left: 0.4vw;
    position: relative;
    top: 0.3vw;
    width: 4.7vw;
  }
  
  .results-item__score {
    width: 9.667vw;
    font-size: 5.867vw;
    line-height: 9.867vw;
  }
  
  .results-all-link {
    display: inline-block;
    font-weight: 500;
    font-size: 5.33vw;
    line-height: 5.6vw;
    text-decoration: none;
    color: #ffc100;
    transition:all 100ms linear;
    margin-left: 0.1vw;
    /* margin-bottom: 38.933vw; */
  }
  
  .results-all-link:hover {
    text-decoration: none;
    color: #fff;
    transition: all 10ms linear;
  }
  
  .results-all-link__icon {
    fill: #ffc100;
    width: 5.33vw;
    height: 5.6vw;
  }
  
  .results-footer {
    display: block;
    font-size: 3.733vw;
    line-height: 5.333vw;
  }
  
  .results-footer a {
    color: #ffc100;
    transition: all 100ms linear;
    font-size: 3.733vw;
    line-height: 5.333vw;
  }
  
  .results-footer a:hover {
    color: #fff;
    transition: all 100ms linear;
  }
  
  .results-footer__contacts {
    margin-bottom: 5.333vw;
  }

  .results-footer__school {
    padding: 0;
  }

  .footer_container{
    font: normal normal 4vw/5vw 'Montserrat';
    margin:30vw 0 2vw 1vw;
  }
  
  .footer_contacts_2{
    position: relative;
    display: block;
    margin:0 1vw 0vw 1vw;
  }

  .mobile_footer_link{
    font: normal normal 4vw/5vw 'Montserrat';
    margin-top: 3vw;
    margin-bottom: 4vw;
  }

  .video_wide{
    margin-top: 16vw;
    display:none;
  } 
  .video_normal{
    margin-top: 16vw;
    display: none;
  } 
  .video_mobile{
    margin-top: 16vw;
    display:block;
  } 

  .results-section__facts-floor_wrapper{
    margin:2vw 0vw 0 0vw;
  }
  
  
  .results-section__facts-first_floor_wrapper{
    background-image: url(../images/back_1.png);
    background-position:top 0 right -7vw;
    height:82vw;
  }
  
  .results-section__facts-second_floor_wrapper{
    background-image: url(../images/back_2.png);
    margin-top: 30vw;
    background-position:top left;
    height:82vw;
  }
  
  .results-section__facts-third_floor_wrapper{
    background-image: url(../images/back_3.png);
    background-position:top 0 left -7vw;
    height:82vw;
  }
  
  .results-section__facts-floor_text{
    width: 96%;
    padding-top: 5vw; 
  }
  
  .results-section__facts-first_floor_text{
    padding-left: 3vw; 
  }

  .results-section__facts-first_floor_text:nth-child(1){
    margin-top: 0vw;
  }
  .results-section__facts-second_floor_text{
    padding-left: 3vw;
    padding-right: 0vw; 
    margin-left: -0.5%;
  }
  
  .results-section__facts-head{
    font:normal 800 20vw/14vw 'Montserrat';
    margin-bottom: 1vw;
    
  }
  .minus_margin{
    /* margin-left: -4.5vw; */
    margin-left: 0;
  }

  .factoid_text{
    margin-top:1.5vw;
    font:normal 400 5.5vw/6.2vw 'Montserrat';
  }
  
  .results-section__facts-floor_img{
    width:75%;
    display: none;
  }
  
  .results-section__facts-first_floor_img{
    margin-top: -14vw;
    margin-left:-11vw;
    height: 85%;
   
  }
  
  .results-section__facts-second_floor_img{
    margin-top: -17vw;
    margin-left:-13vw;
    height: 85%;
    
  }
  
  .results-section__facts-third_floor_img{
    margin-top: 34vw;
    margin-left:-41vw;
    height: 85%;
    
  }

}