div{
background-color: rgb(255,0,0,0.);
}

*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*:focus {
  outline: none;
}
*{
  outline: 0 !important;
}
button::-moz-focus-inner {
  border: 0;
}

html{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  background-color: #fff;
  color:#000;
  margin:0;
  padding:0;
}

header{
  margin: 0;
  padding: 0;
}

h1 span{
  display:block;
}
h2 span{
  display:block;
}
h3 span{
  display:block;
}

.main_div {
  width:98vw;
  height:auto;
  margin: 0 auto;
  position: relative;
  padding-left: 1vw; 
}

.logo{
  margin:2.5vw 0 10.4vw 0;
  padding: 0;
  width:24vw;
}

.main-title{
  font:normal 900 3.1vw/2.3vw 'HelveticaNeueCyr';
}
.main-title_link{
  margin: 0;
  text-decoration: none;
  border: 0;
  color: #000000;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
}
  
.main-title_link:visited{
  margin: 0;
  text-decoration: none;
  border: 0;
  color: #000000;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
}
  
.main-title_hover{
  margin: 0;
  text-decoration: none;
  border: 0;
  color: #000000;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
}

.page-header{
  margin-bottom: 5.7vw;
}

.page-title {
  font-weight: 900;
  font-size: 11vw;
  line-height: 8.2vw;
  margin: 0 0 4.5vw -0.5vw;
}

.page-lead{
  max-width: 86%;
  font-size: 2.4vw;
  line-height: 3.2vw;
}

.page-section {
  max-width: 100%;
  margin: 0 0 6.1vw 0;
}
.page-section_no-margin {
    margin-bottom: 0;
}

.page-section_with-aside {
  display: flex;
}

.page-section__main {
  width: 75%;
  margin-right: 1.9vw;
}

.page-section__title {
  font-weight: 900;
  font-size: 4vw;
  line-height: 3.4vw;
  margin: 0 0 2vw 0vw;
}

.page-section__text-block {
  width:75%;
  margin: 0 0 1.5vw 0;
  font-size: 1.6vw;
  line-height: 2.1vw;
}

.page-section__text-block_no-margin {
  margin-bottom: 0;
}

.page-section__list {
  margin: 0.2vw 0 0 0;
  padding: 0;
  list-style-type: none;
}

.page-section__list-item {
  padding: 0 0 0 2.3vw;
  margin: 0 0 0.8vw 0;
  font-size: 1.6vw;
  line-height: 2.1vw;
}
.page-section__aside {
  width: 20%;
}

.target-image {
    width: 100%;
    margin: 1vw 0 0.6vw 0;
  }

  .target-link {
    display: block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #ffc100;
    width: 100%;
    font-weight: 900;
    font-size: 1.6vw;
    line-height: 3.8vw;
  }
  
  .target-link:hover {
    background-color: #FFCB2B;
  }
  .target-link:visited {
    color: #000;
    background-color: #ffc100;
  }
  
  .carousel {
    width: 100%;
    margin: 2.7vw 0 0 0;
  }
  .carousel__main-image {
    width: 100%;
    height: 53.8vw;
    overflow: hidden;
    position: relative;
  }

  .carousel__images {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .carousel__image {
    display: block;
    width: 100%;
    height: 53.8vw;
  }

  .carousel__menu {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0.9vw;
  }

  .carousel__menu-button {
    display: block;
    box-sizing: border-box;
    width: 20%;
    height: 11vw;
    border: none;
    background-color: #fff;
    background-size: cover;
    outline: none;
    cursor: pointer;
  }

  .carousel__menu-button_active {
    position: relative;
  }

  .carousel__menu-button_active:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 11vw;
    border: 2px solid #FFBE00;
  }
  .carousel__menu-button:nth-child(1) {
    background-image: url(/images/knife_1.png);
    background-repeat: no-repeat;
  }
  .carousel__menu-button:nth-child(2) {
    background-image: url(/images/knife_2.png);
    background-repeat: no-repeat;
  }
  .carousel__menu-button:nth-child(3) {
    background-image: url(/images/knife_3.png);
    background-repeat: no-repeat;
  }
  .carousel__menu-button:nth-child(4) {
    background-image: url(/images/knife_4.png);
    background-repeat: no-repeat;
  }
  .carousel__menu-button:nth-child(5) {
    background-image: url(/images/knife_5.png);
    background-repeat: no-repeat;
  }

  .carousel__caption {
    margin: 0;
    font-size: 1.2vw;
    line-height: 1.4vw;
  }

  .page-section-image_double{
    margin: 2vw 0 3.5vw 0;
  }
  .div_flex_option{
    display: flex;
    justify-content: flex-start;
  }

  .first_image{
    width:36.3vw;
    margin-right: 1.2vw;
  }
  .first_image img{
    width:100%;
  }
  .second_image{
    width:36.5vw;
  }
  .second_image img{
    width:100%;
  }

  .page-section-image__caption {
    margin: 0;
    font-size: 1.2vw;
    line-height: 1.4vw;
  }
  
  .page-section-image__caption span{
    display: block;
  }

  .page-section__text-block a {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    transition: all 100ms linear;
  }
  
  .page-section__text-block a:visited {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }
  
  .page-section__text-block a:hover {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, 1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    transition:all 10ms linear;
  }

  .page-cta-block {
    background-color: #000;
    margin: 2.8vw 0 6.4vw 0;
    padding: 4.2vw 0 5.1vw 0;
  }

  .page-cta-block__content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }

  .page-cta-block__button {
    display: block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border: none;
    color: #000;
    background-color: #ffc100;
    cursor: pointer;

    width: 38vw;
    height: 6vw;
    font-weight: 900;
    font-size: 2.1vw;
    line-height: 3.8vw;
    margin-right: 2vw;
  }
  
  .page-cta-block__button:hover {
    background-color: #FFCB2B;
  }

  .button_link{
    text-decoration: none;
    border: 0;
    color:#000;
    transition:all 100ms linear;
  }
  
  .button_link:hover{
    text-decoration: none;
    border: 0;
    color:#000;
    transition:all 10ms linear;
  }
  
  .button_link:visited{
    text-decoration: none;
    border: 0;
    color:#000;
  }

  .page-cta-block__dates {
    max-width: 60%;
    height: 6.1vw;
  }

  .page-section__table {
    width: 44vw;
    font-size: 1.6vw;
    line-height: 2vw;
    margin: 2.4vw 0 0 0;
  }

  .page-section__table-row {
    display: flex;
    justify-content: space-between;
  }
  
  .page-section__table-cell {
    width: 9.5vw;
  }
  
  .page-section__table-row_first-cell{
    padding-top:0.7vw;
  }
  
  .page-section__table-cell_first-col {
    width: 17vw;
  }
  
  .page-section__table-cell_second-col {
    width: 9.3vw;
  }
  
  .page-section__table-cell_third-col {
    width: 9.3vw;
  }
  
  .page-section__table-cell_fourth-col {
    width: 6.5vw;
  }
  
  .page-section__table-row_first {
    border-bottom: 1px solid #000;
    font-weight: 600;
    padding-bottom: 0.2vw;
    margin-bottom: 2.3vw;
  }
  
  .page-section__table-row_second {
    margin-bottom: 1.9vw;
  }
  
  .page-section__table-row_third {
    margin-bottom: 2.6vw;
  }
  
  .page-section__table-row_third .page-section__table-cell:not(.page-section__table-cell_first-col) {
    padding-top: 1.3vw;
  }
  
  .page-section__table-row_fourth {
    margin-bottom: 2.7vw;
  }
  
  .page-section__table-row_fourth .page-section__table-cell:not(.page-section__table-cell_first-col) {
    margin-top: -0.6vw;
  }
  
  .page-section__table-row_fifth .page-section__table-cell:not(.page-section__table-cell_first-col) {
    margin-top: -0.6vw;
  }
  
  .table-big {
    font-size: 3.5vw;
  }
  
  .table-small {
    font-size: 0.9vw;
  }



  footer {
    margin: 14vw 0 5vw 0;
    font-size: 1.5vw;
    line-height: 2vw;
  }
  
  .footer-content {
    /* width: 98vw; */
    margin: 0;
  }
  
  .footer-phone {
    text-decoration: none;
    margin: 0 0 0.1vw 0;
  }
  
  .footer-email {
    margin: 0;
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    transition: all 100ms linear;
  }
  
  .footer-email:visited {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }
  
  .footer-email:hover {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, 1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    transition:all 10ms linear;
  }