@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap&subset=cyrillic,cyrillic-ext');

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/HelveticaNeueCyr-Roman.eot") format("eot"),
       url("/fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
       url("/fonts/HelveticaNeueCyr-Roman.ttf") format("ttf");
}

@media (min-width: 1200px) {
  body {
    font-family: 'Montserrat', Helvetica, sans-serif;
  }
  
  header {
    margin-bottom: 104px;
  }
  
  .main-title {
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 24px;
    line-height: 22px;
    padding: 32px 0 0 9px;
  }
  
  .page-header {
    max-width: 1200px;
    margin: 0 auto 57px;
    padding: 0 0 0 9px;
  }
  
  .page-title {
    font-weight: 900;
    font-size: 110px;
    line-height: 82px;
    margin: 0 0 45px;
  }
  
  .page-lead {
    max-width: 863px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin: 0;
    padding-left: 5px;
  }
  
  .page-section {
    max-width: 1200px;
    padding: 0 0 0 9px;
    margin: 0 auto 61px;
  }
  
  .page-section_no-margin {
    margin-bottom: 0;
  }
  
  .page-section__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 51px;
    letter-spacing: -0.2px;
    margin: 0 0 25px 2px;
  }
  
  .page-section__text-block {
    width: 730px;
    margin: 0 0 15px 3px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.2px;
  }
  
  .page-section__text-block a {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    transition:all 100ms linear;
  }
  
  .page-section__text-block a:visited {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }
  
  .page-section__text-block a:hover {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, 1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    transition:all 10ms linear;
  
  }
  
  .page-section__text-block_no-margin {
    margin-bottom: 0;
  }
  
  .page-section__list {
    margin: 2px 0 0;
    padding: 0;
    list-style-type: none;
  }
  
  .page-section__list-item {
    padding: 0 0 0 23px;
    margin: 0 0 8px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.2px;
  }
  
  .page-section_with-aside {
    display: flex;
  }
  
  .page-section__main {
    width: 730px;
    margin-right: 19px;
  }
  
  .page-section__aside {
    width: 198px;
  }
  
  .target-image {
    margin: 5px 0 6px 2px;
  }
  
  .target-link {
    background-color: #ffc100;
    width: 192px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    color: #000;
    text-decoration: none;
    margin-left: 2px;
  }
  
  .target-link:hover {
    background-color:  #FFCB2B;
  }
  
  .carousel {
    width: 730px;
    margin: 27px 0 0 2px;
  }
  
  .carousel__main-image {
    width: 100%;
    height: 538px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel__images {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .carousel__image {
    display: block;
    width: 730px;
    height: 538px;
  }
  
  .carousel__menu {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 28px;
    margin-bottom: 9px;
  }
  
  .carousel__menu-button {
    display: block;
    box-sizing: border-box;
    width: 142px;
    height: 107px;
    border: none;
    background-color: #fff;
    background-size: cover;
    outline: none;
    cursor: pointer;
  }
  
  .carousel__menu-button_active {
    position: relative;
  }
  
  .carousel__menu-button_active:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 142px;
    height: 107px;
    border: 2px solid #FFBE00;;
  }
  
  .carousel__menu-button:nth-child(1) {
    background-image: url(/images/knife_1.png);
  }
  .carousel__menu-button:nth-child(2) {
    background-image: url(/images/knife_2.png);
  }
  .carousel__menu-button:nth-child(3) {
    background-image: url(/images/knife_3.png);
  }
  .carousel__menu-button:nth-child(4) {
    background-image: url(/images/knife_4.png);
  }
  .carousel__menu-button:nth-child(5) {
    background-image: url(/images/knife_5.png);
  }
  
  .carousel__caption {
    font-family: Helvetica, sans-serif;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.2px;
  }
  
  .page-section-image_double {
    display: flex;
    margin-bottom: 32px;
  }

  .page-section-image__left {
    width: 369px;
  }

  .page-section-image__left img {
    width: 100%;
    margin: 3px 0 18px -7px;
  }

  .page-section-image__right {
    width: 376px;
  }

  .page-section-image__right img {
    margin: 3px 0 18px 0;
  }
  
  .page-section-image__caption {
    font-family: Helvetica, sans-serif;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.2px;
  }

  .page-section-image__left .page-section-image__caption {
    margin-left: 1px;
  }
  
  .page-section-image__right .page-section-image__caption {
    margin: 1px 0 0 26px;
  }
  
  .page-cta-block {
    background-color: #000;
    margin: 28px 0 64px;
    padding: 42px 0 51px 13px;
  }
  
  .page-cta-block__content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  
  .page-cta-block__button {
    width: 383px;
    height: 60px;
    background-color: #ffc100;
    display: block;
    font-weight: 600;
    font-size: 21px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    color: #000;
    text-decoration: none;
    border: none;
    margin-right: 22px;
    cursor: pointer;
  }
  
  .page-cta-block__button:hover {
    background-color: #FFCB2B;
  }

  .page-cta-block__dates {
    width: 510px;
    height: 61px;
  }
  
  .page-section__table {
    width: 389px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0 0 3px;
  }
  
  .page-section__table-row {
    display: flex;
    justify-content: space-between;
  }
  
  .page-section__table-cell {
    width: 95px;
  }
  
  .page-section__table-cell_first-col {
    width: 143px;
  }
  
  .page-section__table-cell_second-col {
    width: 93px;
  }
  
  .page-section__table-cell_third-col {
    width: 93px;
  }
  
  .page-section__table-cell_fourth-col {
    width: 61px;
  }
  
  .page-section__table-row_first {
    border-bottom: 1px solid #000;
    font-weight: 600;
    margin-bottom: 23px;
  }
  
  .page-section__table-row_second {
    margin-bottom: 19px;
  }
  
  .page-section__table-row_third {
    margin-bottom: 26px;
  }
  
  .page-section__table-row_third .page-section__table-cell:not(.page-section__table-cell_first-col) {
    padding-top: 13px;
  }
  
  .page-section__table-row_fourth {
    margin-bottom: 27px;
  }
  
  .page-section__table-row_fourth .page-section__table-cell:not(.page-section__table-cell_first-col) {
    margin-top: -6px;
  }
  
  .page-section__table-row_fifth .page-section__table-cell:not(.page-section__table-cell_first-col) {
    margin-top: -6px;
  }
  
  .table-big {
    font-size: 35px;
  }
  
  .table-small {
    font-size: 9px;
  }
  
  footer {
    margin: 140px 0 50px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.2px;
  }
  
  .footer-content {
    width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
  }
  
  .footer-phone {
    margin: 0 0 1px;
  }
  
  .footer-email {
    margin: 0;
  }
}