/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap&subset=cyrillic,cyrillic-ext');
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/fonts/HelveticaNeueCyr-Roman.eot") format("eot"),
       url("/fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
       url("/fonts/HelveticaNeueCyr-Roman.ttf") format("ttf");
} */

@media (min-width: 1200px) {
  body {
    font-family: 'Montserrat', Helvetica, sans-serif;
  }
  
  header {
    margin-bottom: 125px;
  }
  
  .main-title {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 29px;
    line-height: 26px;
    padding: 38px 0 0 11px;
  }
  
  .page-header {
    max-width: 1200px;
    margin: 0 auto 68px;
    padding: 0 0 0 11px;
  }
  
  .page-title {
    font-size: 132px;
    line-height: 98px;
    margin: 0 0 54px;
  }
  
  .page-lead {
    max-width: 1036px;
    font-size: 29px;
    line-height: 38px;
    margin: 0;
    padding-left: 6px;
  }
  
  .page-section {
    max-width: 1200px;
    padding: 0 0 0 11px;
    margin: 0 auto 73px;
  }
  
  .page-section_no-margin {
    margin-bottom: 0;
  }
  
  .page-section__title {
    font-size: 72px;
    line-height: 61px;
    margin: 0 0 30px 2px;
  }
  
  .page-section__text-block {
    width: 876px;
    margin: 0 0 18px 4px;
    font-size: 19px;
    line-height: 25px;
  }
  
  .page-section__text-block a {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    transition:all 100ms linear;
  }
  
  .page-section__text-block a:visited {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
  }
  
  .page-section__text-block a:hover {
    text-decoration: none;
    border: 0;
    color: rgb(0, 91, 190);
    border-bottom: 1px solid rgb(0, 91, 190, 1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    transition:all 10ms linear;
  
  }
  
  .page-section__text-block_no-margin {
    margin-bottom: 0;
  }
  
  .page-section__list {
    margin: 3px 0 0;
    padding: 0;
  }
  
  .page-section__list-item {
    padding: 0 0 0 27px;
    margin: 0 0 10px;
    font-size: 19px;
    line-height: 25px;
  }
  
  .page-section_with-aside {
    display: flex;
  }
  
  .page-section__main {
    width: 876px;
    margin-right: 23px;
  }
  
  .page-section__aside {
    width: 238px;
  }
  
  .target-image {
    margin: 6px 0 7px 0;
  }
  
  .target-link {
    /* width: 230px; */
    font-size: 19px;
    line-height: 45px;

  }
  
  /* .target-link:hover {
    background-color:  #FFCB2B;
  } */
  
  .carousel {
    width: 876px;
    margin: 32px 0 0 3px;
  }
  
  .carousel__main-image {
    width: 100%;
    height: 645px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel__images {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .carousel__image {
    display: block;
    width: 876px;
    height: 645px;
  }
  
  .carousel__menu {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 36px 0 34px;
    margin-bottom: 11px;
  }
  
  .carousel__menu-button {
    display: block;
    box-sizing: border-box;
    width: 170px;
    height: 128px;
    border: none;
    background-color: #fff;
    background-size: cover;
    outline: none;
    cursor: pointer;
  }
  
  .carousel__menu-button_active {
    position: relative;
  }
  
  .carousel__menu-button_active:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 170px;
    height: 128px;
    border: 2px solid #FFBE00;;
  }
  
  /* .carousel__menu-button:nth-child(1) {
    background-image: url(/images/knife_1.png);
  }
  .carousel__menu-button:nth-child(2) {
    background-image: url(/images/knife_2.png);
  }
  .carousel__menu-button:nth-child(3) {
    background-image: url(/images/knife_3.png);
  }
  .carousel__menu-button:nth-child(4) {
    background-image: url(/images/knife_4.png);
  }
  .carousel__menu-button:nth-child(5) {
    background-image: url(/images/knife_5.png);
  } */
  
  .carousel__caption {
    font-family: Helvetica, sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }
  
  .page-section-image_double{
    margin:24px 0 42px 0;
  }
  
  .div_flex_option{
    display: flex;
    justify-content: flex-start;
  }
  .first_image{
    width:445px;
    margin-right: 14px;
  }
  .first_image img{
    width:100%;
  }
  
  .second_image{
    width:424px;
  }
  .second_image img{
    width:100%;
    margin-top:7px;
    margin-bottom: 7px;
  }

  /* .page-section-image_double {
    display: flex;
    margin-top:36px;
    margin-bottom: 38px;
  } */

  /* .page-section-image__left {
    width: 443px;
  }

  .page-section-image__left img {
    width: 100%;
    margin: 4px 0 12px -8px;
  }

  .page-section-image__right {
    width: 451px;
  }

  .page-section-image__right img {
    margin: 4px 0 12px 0;
  } */
  
  .page-section-image__caption {
    /* font-family: Helvetica, sans-serif; */
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }

  /* .page-section-image__left .page-section-image__caption {
    margin-left: 1px;
  }
  
  .page-section-image__right .page-section-image__caption {
    margin: 1px 0 0 26px;
  } */
  
  .page-cta-block {
    background-color: #000;
    margin: 34px 0 77px;
    padding: 50px 0 61px 16px;
  }
  
  .page-cta-block__content {
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }
  
  .page-cta-block__button {
    width: 456px;
    height: 72px;
    font-size: 25px;
    line-height: 46px;
    margin-right: 26px;
  }

  .page-cta-block__dates {
    /* width: 510px; */
    height: 73px;
  }
  
  .page-section__table {
    width: 530px;
    font-size: 19px;
    line-height: 24px;
    margin: 29px 0 0 4px;
  }
  
  .page-section__table-row {
    display: flex;
    justify-content: space-between;
  }
  
  .page-section__table-cell {
    width: 114px;
  }
  
  .page-section__table-row_first-cell{
    padding-top: 8px;
  }

  .page-section__table-cell_first-col {
    width: 205px;
  }
  
  .page-section__table-cell_second-col {
    width: 112px;
  }
  
  .page-section__table-cell_third-col {
    width: 112px;
  }
  
  .page-section__table-cell_fourth-col {
    width: 78px;
  }
  
  .page-section__table-row_first {
    border-bottom: 1px solid #000;
    margin-bottom: 28px;
    padding-bottom: 2px;
  }
  
  .page-section__table-row_second {
    margin-bottom: 29px;
  }
  
  .page-section__table-row_third {
    margin-bottom: 31px;
  }
  
  .page-section__table-row_third .page-section__table-cell:not(.page-section__table-cell_first-col) {
    padding-top: 16px;
  }
  
  .page-section__table-row_fourth {
    margin-bottom: 32px;
  }
  
  .page-section__table-row_fourth .page-section__table-cell:not(.page-section__table-cell_first-col) {
    margin-top: -7px;
  }
  
  .page-section__table-row_fifth .page-section__table-cell:not(.page-section__table-cell_first-col) {
    margin-top: -7px;
  }
  
  .table-big {
    font-size: 42px;
  }
  
  .table-small {
    font-size: 11px;
  }
  
  footer {
    margin: 168px 0 60px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .footer-content {
    max-width: 1200px;
    padding-left: 19px;
  }
  
  .footer-phone {
    margin: 0 0 1px;
  }
  
  .footer-email {
    margin: 0;
  }
}