@font-face{
font-family: 'Neue Machina';
src: local('Neue Machina Regular'), url('../fonts/NeueMachina-Regular.otf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Neue Machina Bold';
src: local('Neue Machina Ultrabold'), url('../fonts/NeueMachina-Ultrabold.otf');
font-weight: normal;
font-style: normal;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
 
*:focus {
  outline: none;
}
* {
  outline: 0 !important;
}
button::-moz-focus-inner 
{
  border: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: HelveticaNeueCyr;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  color:#ffffff;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

div{
background-color: rgb(255,0,0,0.);
}

.browser{
  width:100%;
  height:auto;
  position: relative;
  overflow: hidden;
}

.main {
  width:98vw;
  height:auto;
/*  width: 1000px; /*fix*/
  margin: 0 auto;
  position: relative;
  overflow: visible; /*!@!@*/
}

.hat
{
  width:100%;
  height:106vw;
/*height: 1080px; /*fix*/
  position: relative;
  background-color: #000;
  background-image: url(../images/back_photo_1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom left;
/*  background-size: 71% auto;
  background-position: bottom right;
*//*background-size: 713px 738px; /*fix*/
/*background-position: 287px 342px; /*fix*/
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 24vw;
  height:52.3vw;
  /*width: 240px;*/
  /*height: 523px;*/
  margin:0;
  padding:0 0 0 1vw;
  /*padding:0 0 0 10px;*/
}

.logo {
  /*32px/24px*/
  font:normal 900 3.1vw/2.3vw 'HelveticaNeueCyr';
  color: #FFFFFF;
  margin:2.5vw 0;
  /*25px*/
}

.lead_text{
  /*15px/18px*/
  font: normal normal 1.5vw/1.8vw 'HelveticaNeueCyr';
  color: #FFFFFF;
  margin:-1.1vw 0;
}

.text{
  /*104px*/
  width:23vw;
  margin:11.2vw 0;
}

.content_text{
  /*15px/20px*/
  font: normal normal 1.5vw/1.97vw 'HelveticaNeueCyr';
  color: #FFFFFF;
  margin:1vw 0;
}

.social_buttons_container{
  position: absolute;
  bottom: 0.8vw;
}

svg{
  fill:currentColor;
}
.icon-link{
  display:inline-block;
  vertical-align:middle;
  color:#fff;
  transition:all 100ms linear;

}
.icon-link:hover{
  color:#ffc100;
  transition:all 0ms linear;
}
.social_button {
  display: inline-block;
  /*44px*/
  width: 4.6vw;
  height: 4.4vw;
  vertical-align:middle;
  color:#fff;
  position: relative;
  margin-right: 0.3vw;
}
.icon{
  width:4.6vw;
  height:4.4vw;
}

a img { 
  border: none; 
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  /*760px*/
  width: 76vw;
  /*513px*/
  height: 51.3vw;
  margin-top:1vw;
  background-image: url(../images/big_head.svg);
  background-repeat: no-repeat;
  background-size: 98% 98%;
  background-position:top right;
}


.div-form {
  position: absolute;
  /*303px 367px*/
  width: 30.3vw; /*check html img for form*/
  height: 36.7vw;
  /*background-color: rgb(250,120,0,0.1);;*/
  margin-left:1vw;
  bottom:0;
  left: 0;
}

.img_dates{
  /*margin:2px 0 4px -2px;*/
  margin:0.2vw 0 0.4vw -0.2vw;
  /*236px*/
  width:23.6vw;
  /*252px*/
  height: 25.2vw;
  /*!!! размер !!!*/
}

.form-container{
  /*300px*/
  width: 30vw;
  /*41px*/
  height: 4.1vw;
  margin: -0.2vw 0;

  text-align: left;
  color: white;
}

.divEmailCaption{
  margin:0 0 0.7vw 0;
}
.form-caption{
  /*15px/18px*/
  font: normal normal 1.5vw/1.8vw 'HelveticaNeueCyr';
  color: #FFFFFF;
  margin: 0;
  padding:0;
}


input, textarea, select, button{ 
  -webkit-appearance: none; 
  -webkit-border-radius:0; 
  border-radius:0; 
}

.email_box {
  display: flex;
  justify-content: flex-start;
}

.input_mail, .btn_send{
  border:none;
}

.input_mail {
  display: block;
  /*14px/14px*/
  font: normal normal 1.4vw/1.7vw 'HelveticaNeueCyr';
  /*6px*/
  padding-left: 0.6vw;
  /*236px*/
  width: 23.6vw;
  /*41px*/
  height: 4.1vw;
  /*48px*/
  padding-right:4.8vw;
  letter-spacing: -0.01em;
  /* backgound-color:#000; */
}

.btn_send_container{
  width: 4.6vw;
  /*39px*/
  height: 4.1vw;
}


.btn_send {
  display: block;
  background: transparent;
  margin: 0;
  /*46px*/
  width: 4.6vw;
  /*39px*/
  height: 4.1vw;
  position: relative;
  /*-45px*/
  left: -4.5vw; /* calc !!!*/
  cursor: pointer;
  outline: none;
  /* background-image: url(../images/button_send.svg);
  background-repeat: no-repeat;
  background-position:top left;
  background-size: 100% 100%; */
}

.btn_send_svg_b{
  fill:#000;
} 
.btn_send_svg_y{
  fill:#ffc100;
} 

.img_arrow{
  margin: 0;
  /*46px*/
  width: 4.6vw;
  /*39px*/
  height: 3.9vw;
 }
 
.school_label {
  /* !!! скрыт */
  position: absolute;
  display:none;
  bottom: 0;
  right: 0;
  /*450px*/
  width: 45vw;
  /*22px*/
  height: 2.2vw;
  text-align: right;
  /*11px*/
  margin-bottom:1.1vw;  
  bottom:0;
  padding:0 1vw 1vw 0;
}

.school_label_text {
  /*16px/14px*/
  font: normal normal 1.6vw/1.4vw 'HelveticaNeueCyr';
  color:#fff;
}


.small_text_link{
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 190, 0, 0.3);
  color: #FFBE00;
  transition:all 100ms linear;
}

.small_text_link:visited{
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 190, 0, .3);
  color: rgb(255, 190, 0);
}

.small_text_link:hover{
  text-decoration: none;
  /* border-bottom: 1px solid #fff;
  color: #fff; */
  border-bottom: 1px solid rgb(255, 190, 0);
  color: rgb(255, 190, 0);
  transition:all 0ms linear;
}

.logout {
  color: #FFFFFF
} 

::-webkit-input-placeholder {color:#cecece;}
::-moz-placeholder          {color:#cecece;}/* Firefox 19+ */
:-moz-placeholder           {color:#cecece;}/* Firefox 18- */
:-ms-input-placeholder      {color:#cecece;}

input::-webkit-input-placeholder       {color:#cecece; opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {color:#cecece; opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {color:#cecece; opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {color:#cecece; opacity: 1; transition: opacity 0.3s ease;}
/* input:focus::-webkit-input-placeholder {color:#cecece; opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {color:#cecece; opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {color:#cecece; opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {color:#cecece; opacity: 0; transition: opacity 0.3s ease;} */


h2{
  font:normal 900 6vw/5vw 'HelveticaNeueCyr';
  color: #fff;
  /* margin-bottom: -1vw; */
}

.floor_wrapper{
  overflow: visible; /*!@!@*/
  position: relative;
  display: flex;
  justify-content: flex-start;
  width:100%;
  /*height: 571px;*/
  /*57.1vw;  */
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin:1vw 0;
}

.first_floor_wrapper{
  background-image: url(../images/back_1.png);
  background-position:top right;
  height:57.1vw;
}

.second_floor_wrapper{
  background-image: url(../images/back_2.png);
  background-position:top left;
  height:57.1vw;
  /*height: auto;*/
}

/* высота блока с формой*/
.third_floor_wrapper{
  height:93.5vw; 
}

.four_floor_wrapper{
  margin-top:5vw;
  overflow: visible;
  background-image: url(../images/back_3.png);
  background-position:top left;
  height:57.1vw;
}

.floor_text{
  display: block;
  width:50%;
  height: auto;
  padding-top: 5vw; 
}

.first_floor_text{
  padding-left: 1vw; 
}
.second_floor_text{
  padding-left: 2vw;
  padding-right: 4vw; 
}

.floor_img{
  display: block;
  width:50%;
  height: auto;
  overflow: visible; 
  background-repeat: no-repeat;
  background-size: auto 84%;
}

.first_floor_img{
  overflow: visible;
  position:absolute;
  margin-top: -5.7vw;
  margin-left:0vw;
  height:95%;
  width:auto;
}


.second_floor_img{
  overflow: visible;
  position:absolute;
  top: 5.2vw;
  left:-25vw;
  height:95%;
  width:auto;
}


.four_floor_img{
  overflow: visible;
  position:absolute;
  top: 5.3vw;
  /* right:0; */
  left:36vw;
  height:95%;
  width:auto;
}

.mainpage_text
{
  /*22px/28px*/
  font: normal normal 2.2vw/2.8vw 'HelveticaNeueCyr';
  color: #fff;
  margin:2.4vw 0; /*24px*/
}

 .link_box{
  font: normal normal 2.2vw/2.8vw 'HelveticaNeueCyr';
  position: relative;
  width:95%;
  /* height:auto; */
  margin-top:-1vw;
  padding:0;
} 

.link_with_slash{
  margin:0;
  /* padding:0; */
  display:inline-block;
  vertical-align:middle;
  text-decoration: none;
  color:#ffc100;
  transition:all 100ms linear;
}

.link_with_slash:hover{
  text-decoration: none;
  color:#fff;
  transition:all 0ms linear;
}

.link_with_slash span{
  vertical-align:middle;
}

.icon_slash{
  margin-top: -0.2vw;
  margin-right: -0.3vw;
  width:2.2vw;
  vertical-align:middle;
}

/*********************************************************  */



.form_wrapper{
  color: #000;
  position:absolute;
  background-color: #fff;
  right:0;
  top:-23.5vw;
  width: 76.4vw;
  height:121vw;
  /* padding-bottom:8vw; */
  padding-left: 3vw;
}

/* .form_wrapper *{transition: .1s linear} */

.form_wrapper h2{
  color: #000 !important;
  padding: 3.5vw 0 3.38vw 0vw;
}

.left_label_text{
  font: normal normal 1.6vw/2vw 'HelveticaNeueCyr';
  /* font: normal normal 1.6vw/1.8vw 'HelveticaNeueCyr';
  color: #000; */
  display: block;
}

.captions_in_form{
  width:52vw;
  margin-bottom: 2vw;
}

.captions_in_form h3{
  font: normal 900 2.4vw/2.4vw 'HelveticaNeueCyr';
  margin: 4vw 0 1vw 0;
}

.captions_in_form p
{
  font: normal normal 1.6vw/2.2vw 'HelveticaNeueCyr';
  /* color: #000; */
  margin-bottom: 0.6vw;
}
.captions_in_form_minus_margin{
  margin-top: -2vw !important;
}

/**** div-ы для формы ***/
.wrap_input_text_1_string {
  /* width: 65vw; */
  width:auto;
  height: 3.2vw;
  margin-bottom: 1vw;
}
.wrap_input_text_2_string {
  width: 40vw;
  height: 3.4vw;
  margin-bottom: 1vw;
}
.bblock-label{
  float: left;
  line-height: 3.2vw;
  font-size: 1.6vw;
  margin-right: 1vw;
  margin-top: 0;
  text-align: left; 
}
.bblock-label-personal{
  width: 9.2vw; 
}
.bblock-label-digits{
  width: 9.2vw; 
}
.bblock-label-caption{
  position: absolute;
  bottom:0;
  line-height: 1.6vw;
  font-size: 1.6vw;
  font-weight: 900;
  margin-right: 1vw;
  text-align: left;
  /* margin-top: 1.5vw; */
}

.bblock-2{
  float: left; 
  line-height: 3.2vw;
  font-size: 1.4vw;
  width: 27vw; /*Фиксируем ширину блока*/
  margin-right: 1vw;
  text-align: left; 
}

.bblock-links{
  /* background-color: rgb(255, 0, 0, .1); */
  float: left; 
  line-height: 3.2vw;
  font-size: 1.4vw;
  width: auto;
  margin-right: 1vw;
  text-align: left; 
}
.text-notes{
  float: left; 
  line-height: 1.3vw;
  font-size: 1vw;
  width: auto;
  margin-top: 0.2vw;
  margin-right: 1vw;
  text-align: left;
  color:black;
  /* visibility: hidden; */
}

#notes_knife_3m, #notes_knife_4m, #notes_knife_5m{
  visibility: hidden;
  color:#E70000;
  /* visibility: visible; */
}

#notes_axe_4m{
  color:#E70000;
  visibility: visible;
}

.container-discipline {
  position:relative;
  width: auto;
  height: 3.25vw;
  padding:0;
}

.container-discipline-caption{
  position:relative;
  width: auto;
  height: 1.6vw;
  padding:0;
}

.container-discipline-margin {
  margin-bottom: 1vw;
}  

.block-discipline-digits{
  /* background-color: rgb(255,0,0,0.1); */
  float: left;
  line-height: 3.2vw;
  font-size: 1.6vw;
  width:59vw; 
  /* calc(73vw-11vw); */
  text-align: left;
}

.block-discipline-allsum{
  display: flex;
  justify-content: space-between;
  width: 58.6vw;
  /* font-weight:bold; */
}
.block-discipline-axe-sum{
  font-weight:900;
}

.container-notes{
  position:relative;
  /* width: auto; */
  width: 61vw;
  height: 2vw;
  padding:0 0 0 10.2vw;
  background-color: rgb(0,0,255,0.)
}

/**** --- конец div-ы для формы *******/


.form_results_textinput{
  font: normal normal 1.6vw/2vw 'HelveticaNeueCyr';
  width:26vw;
  height: 2.4vw;
  padding-right:0.5vw;
  border:0;
}

.form_results_textinput:focus{
  border-bottom: 1px solid #ffc100;
}

.form_results_textinput:disabled{
  background-color: white;
}

.form_results_digitsinput{
  font: normal normal 1.6vw/2vw 'HelveticaNeueCyr';
  width:3.7vw;
  height: 2.4vw;
  text-align: left;
  margin-right:1.4vw;
  border:0;
}

.form_results_digitsinput:disabled{
  background-color: white;
}

.form_results_digitsinput_center{
  font: normal normal 1.6vw/2vw 'HelveticaNeueCyr';
  width:3.7vw;
  height: 2.4vw;
  text-align: center;
  margin-right:1.4vw;
  border:0;
}

.form_results_digitsinput_sum{
  position:relative;
  width:6.6vw;
  margin:0 0 0 1vw;
  height: 3.25vw;
  background-color: transparent;
  /* background-color: #F3F0F0; */
  color:#000;
  text-align: right !important;
  padding-right: 1.3vw;
  border:0;
  z-index: 1;
}

.form_results_digitsinput_sum::-webkit-input-placeholder {color:#000;}
.form_results_digitsinput_sum::-moz-placeholder          {color:#000;}/* Firefox 19+ */
.form_results_digitsinput_sum:-moz-placeholder           {color:#000;}/* Firefox 18- */
.form_results_digitsinput_sum:-ms-input-placeholder      {color:#000;}

.form_results_digitsinput_sum:disabled{
  color:#000;
  background-color: transparent;
  /* background-color: #F3F0F0; */
}
.form_results_digitsinput_sum_color{
  color:#000;
  background-color: #F3F0F0;
}
.form_results_digitsinput_sum_color:disabled{
  color:#000;
  background-color: #F3F0F0;
}

.digits_video_container
{
  margin:0 0 0.3vw 0;
}

.sum_background{
  position:absolute;
  right:4.6vw;
  width:6.6vw;
  height: 23.7vw;
  /* background-color: rgb(235, 66, 66); */
  background-color: #F3F0F0;
  color:#000;
  padding-right: 1.3vw;
  border:0;
}

.form_results_linkinput{
  font: normal normal 1.6vw/2vw 'HelveticaNeueCyr';
  width: 49.6vw;
  height: 2.5vw;
  margin-right: 1vw;
  /* background-color: rgba(233, 233, 233, 0.1); */
  border: 0;
}

.form_results_linkinput:disabled{
  background-color: white;
}
.form_results_digitsinput_center:focus{
  border-bottom: 1px solid #ffc100;
}

.form_results_digitsinput:focus{
  border-bottom: 1px solid #ffc100;
}

.form_results_linkinput:focus{
  /* background-color: rgba(233, 233, 233, 0.3); */
  border-bottom: 1px solid #ffc100;
}

.form_results_border_neutral{
  border-bottom: 1px solid rgb(200, 200, 200, 0.5);
}
.form_results_border_wrong{
  border-bottom: 1px solid #ff7777;
}

/*input[type="text"], input[type="email"] {
  border-width: 0;
  outline: none;
  margin: 0;
  width: 100%;
  padding: 10px 15px;
  background: #e6e6e6;
}*/



/*.form_results input{
  padding: 0.5vw 0.8vw;
  border: 0;
}

*/

/*.input_text{
  padding: 0.5vw 0.8vw;
  border: 0 0 0.1vw 0;
  border-bottom: 0.1vw solid #0000ba;
}*/


/****** Gender *******/
 .genderfield {
    /*font: normal normal 1.6vw/1.8vw 'HelveticaNeueCyr';*/
    padding: 0;
    margin:0;
    white-space: nowrap;
    position: relative;
    z-index: 0;
    display:table;
    /* background:rgb(255,0,0,0.1); */
}

.genderfield.inactivestyle.activestyle {
    cursor: default;
    background: #ffc100;
    z-index: 1;
    display:table-cell!important;
	  vertical-align:middle;
}

.genderfield.inactivestyle {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 3.4vw;
    max-width: 22vw;
    min-width: 13vw;
    padding: 0.1vw 2vw 0;
    cursor: pointer;
    text-align: center;
    color: #282828;
    font-size: 1.6vw;
    line-height: 1.6vw;
    font-family: 'HelveticaNeueCyr';
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #F3F0F0;
    z-index: 2;
    display:table-cell!important;
	  vertical-align:middle;
}
/*****************/

.captions_in_form a{
  text-decoration: none;
  border: 0;
  color: #005bbe;
  border-bottom: 1px solid rgb(0, 91, 190, .3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
  transition:all 100ms linear;

}
.captions_in_form a:visited{
  text-decoration: none;
  border: 0;
  color: #005bbe;
  border-bottom: 1px solid rgb(0, 91, 190, .3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
}

.captions_in_form a:hover{
  text-decoration: none;
  border: 0;
  color: #005bbe;
  border-bottom: 1px solid rgb(0, 91, 190, 1);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
  transition:all 0ms linear;
}

.mainpage_text a{
  text-decoration: none;
  color:#ffc100;
  border: 0;
  transition:all 100ms linear;
}
.mainpage_text a:visited{
  text-decoration: none;
  color:#ffc100;
  border: 0;
}
.mainpage_text a:hover{
  text-decoration: none;
  color:#fff;
  border: 0;
  transition:all 0ms linear;
}

.submit_btn_floor{
  display:flex;
  position:relative;
  justify-content: flex-start;
  margin-top: 4vw;
  margin-bottom: 2vw;
}
.div_btn_table{
  display:table;
}

.hidden_text_wrong{
  font:normal normal 1.6vw/1.6vw 'HelveticaNeueCyr';
  height:5.6vw;
  width:34.5vw;
  color:#E70000;
  visibility: hidden;
}

.hidden_text_wrong_top_margin{
  margin: -0.1vw 0 0 2vw;
}

.hidden_text_wrong_center_margin{
  margin: 1.5vw 0 0 2vw;
}

.hidden_text_correct{
  font:normal normal 1.6vw/1.8vw 'HelveticaNeueCyr';
  position:absolute;
  left:0;
  top:0;
  height:5.6vw;
  width:62vw;
  color:#000;
  visibility: hidden;
}

.spasibo_otpravleno{
  font: normal normal 2vw/2.4vw 'HelveticaNeueCyr';
}

.hidden_text_server_mistake{
  font:normal normal 1.6vw/1.8vw 'HelveticaNeueCyr';
  position:absolute;
  left:0;
  top:0;
  height:5.6vw;
  color:red;
  visibility: hidden;
}

.button_send_results{
  font:normal 900 2.0vw/2.0vw 'HelveticaNeueCyr';
  width:auto;
  height: 5.6vw;
  padding:0 6vw 0 6vw;
  cursor:default;
  border: 0;
  display:table-cell!important;
	vertical-align:middle;
}

.button_sendresults_ok{ 
  color:#000;
  /* color:#D4D4D4;
  background-color: #F3F0F0; */
  background-color: #ffc100;
}
.button_sendresults_ok:hover{
  background-color: #FFCB2B;
  cursor:pointer;
}

.button_sendresults_disabled{
  color: #BCBCBC;
  background-color: #EBEAEA;
}
/* !!! сдедать стиль, когда нажалась */

.fill_new_sportsman_link{
  margin-top:1.2vw;
  position: relative;
  width: fit-content;
  text-decoration: none ;
  color: #005bbe;
  border-bottom: 1px dashed rgb(0, 91, 190, .3) ;
  cursor:pointer;
  transition:all 100ms linear;
}
.fill_new_sportsman_link:hover{
  text-decoration: none ;
  color: #005bbe;
  border-bottom: 1px dashed rgb(0, 91, 190, 1) ;
  cursor:pointer;
  transition:all 0ms linear;
}


.footer_container{
  font: normal normal 1.6vw/2vw 'HelveticaNeueCyr';
  margin:13vw 0 2vw 0;
  position:relative;
  color:#fff;
  /*display: flex;
  justify-content: space-between;*/
}

.footer_link{
  position: absolute;
  left:1vw;
  bottom: 2.5vw;
}

.footer_contacts{
  position: absolute;
  display: flex;
  width:34vw; 
  justify-content: space-between;
  right: 1vw;
  bottom: 2.5vw;
}

.footer_contacts_2{
  position: relative;
  display: flex;
  /*width:100%; */
  justify-content: space-between;
  margin:0 1vw 0vw 1vw;
  /*right: 1vw;
  bottom: 2.5vw;*/
}



@media (min-height:1010px)
{
  .main 
  {
    height:100%;
    width:98vw;
    background-position: bottom right;
  }
}

